box-sizing()
  -moz-box-sizing arguments
  box-sizing arguments

box-shadow()
  -webkit-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

overflow-scrolling()
  -webkit-overflow-scrolling arguments
  overflow-scrolling arguments