/*********************************************************
* EDITORS
*/

.butter-unit {
  display: inline-block;
  margin-left: -1px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 10px;
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  text-align: center;
  background-color: #222;
  color: #999;
  border: 1px solid black;
  border-left: 0;
  border-radius: 0 3px 3px 0;
}
.butter-form-append input {
  display: inline-block;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #000;
}
.butter-editor-area {
  position: fixed;
  z-index: 2000000000;
  top: 51px;
  bottom: 0;
  right: 0;
  width: 200px;
  border: 1px solid #000;
  background-image: url( "../resources/bg.jpg" );
  .transition( right 0.35s );
  border-left: 1px solid #222;
  box-shadow: inset 5px 0 5px rgba( 0, 0, 0, .2 );
  color: #EEE;

  &.minimized {
    right: -200px;
  }
  .butter-toggle-button {
    top: 14px;
    left: -38px;
    .transform( rotate( -90deg ) );
  }
  > .butter-editor {
    height: 100%;
    font: 14px 'MetaBold';
    input:focus + .butter-unit {
      color: #CCC;
    }
    div {
      > .butter-unit {
        padding: 4px 9px;
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        background-color: #626262;
        background: -moz-linear-gradient(top, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%), #999;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,46,46,1)), color-stop(100%,rgba(57,57,57,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 100%), #333;
        background: -o-linear-gradient(top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 100%), #999;
        background: -ms-linear-gradient(top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 100%), #999;
        background: linear-gradient(top, rgba(0,0,0,.1) 0%,rgba(0,0,0,0) 100%), #999;
        border: 1px solid #222;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
        border-radius: 3px;
        color: #D5D5D5;
      }
    }
    h1 {
      font-size: 16px;
      color: #FFF;
      padding: 10px;
      text-align: center;
      margin: 0;
    }
    .trackevent-property {
      padding: 10px;
      clear: both;
    }
    .trackevent-property {
      select,
      input {
        float: left;
        width: 180px;
      }
    }
    .trackevent-property {
      .butter-form-append {
        input {
          width: 97px;
          float: none;
        }
      }
    }
    > .editor-tabs {
      position: absolute;
      top: 60px;
      left: 5px;
      bottom: 5px;
      right: 5px;
      border-radius: 5px;
    }
    > div {
      &.error-message-container {
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        border-radius: 5px;
        box-shadow: inset 0 0 5px rgba( 0, 0, 0, .8 );
        background: rgba( 0, 0, 0, .2 );
        .transition( height 0.35s, margin 0.35s, padding 0.35s );
        overflow: hidden;
        height: 0;
        margin-bottom: 0;
        visibility: hidden;
      }
      &.error-message-container.open {
        margin: 5px;
        padding: 5px;
      }
      &.error-message {
        width: 180px;
      }
    }
    > button {
      margin: 10px;
    }
  }
}

.butter-editor-spacing {
  padding-right: 200px;
}
.butter-editor-spacing.editor-minimized {
  padding-right: 0;
}
