.transition(@transition1) {
  -webkit-transition: @transition1;
  -moz-transition: @transition1;
  -o-transition: @transition1;
  -ms-transition: @transition1;
  transition: @transition1;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  color: #F8FDE2;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
}

#play {
  width: 57px;
  height: 66px;
  background: url(http://ocupopdev.com/popcorn-embed/img/icon_play.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -26px;
  z-index: 9999;
  cursor: pointer;
}

.embed {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video > div video,
.video > iframe,
.video > object,
.embed-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-overlay {
  background: rgba( 255,255,255,0.95);
  color: #676867;
}

.embed-nav {
  @_embedIconsSize: 50px;
  list-style: none;
  padding: 0;

  > li {

    display: inline-block;
    margin-right: 10px;

    > a {
      display: block;
      padding-top: @_embedIconsSize;
      width: @_embedIconsSize;
      text-decoration: none;
      color: #EEE;
      text-align: center;
      opacity: 0.7;
      .transition( opacity .3s ease);
      &:hover {
        opacity: 1;
      }
    }
  }
}

/*********************************************************
* EMBED INFO
*/

@embedLogoWidth: 100px;
@embedLogoHeight: 45px;

#embed-info {
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,0.85);
  padding: 10px;
  font-family: "ff-meta-web-pro";
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.embed-logo {
  float: left;
  background: url( "../resources/logo/logo-100x45.png" ) no-repeat;
  width: @embedLogoWidth;
  height: @embedLogoHeight;
}

.embed-info {

  .profile-mug {
    width: 90px;
    height: 90px;
    background: url(http://ocupopdev.com/popcorn-embed/img/profile_image.png) no-repeat;
    float: left;
    padding: 0;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,0.1);
  }

  .mozpop {
    color: #58595B;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
  }

  .embed-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    display: block;
    text-decoration: none;
    color: #002839;
  }

  .embed-author {
    font-size: 1.4em;
    line-height: 1em;
    text-decoration: none;
    color: #002839;
  }

  .group {
    float: left;
    margin-top: 8px;
  }

}

.embed-playing #embed-info {
  .embed-logo {
    opacity: 0.5;
    .transition( opacity 0.4s ease );
  }
  .embed-info {
    display: block;
    opacity: 0;
    .transition( opacity 0.2s ease );
  }
  &:hover {
    .embed-logo {
      opacity: 1;
    }
   .embed-info {
      opacity: 1;
    }
  }
}

.embed-ended #embed-info {
  display: none;
}


/*********************************************************
* POST ROLL
*/

#post-roll {
  font-family: "ff-meta-web-pro";
}

#post-roll {
  .post-roll-inner {
    position: relative;
    padding: 10%;
  }

  .mozpopcorn {
    color: #D53B2A;
  }

  .embed-logo {
    float: left;
    background: url(http://ocupopdev.com/popcorn-embed/img/postroll_logo.png) 0 0 no-repeat;
    width: 30%;
    background-size: 100%;
    max-width: 231px;
    height: 388px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -5%;
  }

  .embed-project {
    padding-left: @embedLogoWidth * 2 + 40px;
  }

  .embed-title {
    font-size: 32px;
    font-weight: 700;
    color: #676867;
  }

  .embed-author {
    margin-bottom: 1em;
    color: #676867;
  }

  .post-roll-description {
    color: #676867;
  }

  .embed-nav > li > a {
    background: rgba(0,0,0,0.3) url(http://ocupopdev.com/popcorn-embed/img/controls_icons.png) no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 7px;
    width: 58px;
    height: 58px;
  }

  .embed-nav > li > a span {
    display: block;
    position: absolute;
    top: 60px;
    font-size: .8em;
  }

  #replay-post {
    background-position: 9px -28px;
  }

  #replay-post:hover {
    background-color: #2BB673;
  }

  #remix-post {
    background-position: 9px -78px;
  }

  #remix-post:hover {
    background-color: #002839;
  }

  #share-post {
    background-position: 9px -123px;
  }

  #share-post:hover {
    background-color: #D53B2A;
  }

} // post-roll


/*********************************************************
* SHARE
*/


.share-inner {
  padding: 5%;
}

#share {

  .embed-logo {
    background: url( "http://ocupopdev.com/popcorn-embed/img/controls_icons.png" ) no-repeat;
    width: @embedLogoWidth * 2;
    height: @embedLogoHeight * 2;
  }

  .embed-project,
  .share-options {
    padding-left: @embedLogoWidth * 2 + 50px;
  }

  .embed-nav {
    @_shareIconsSize: 80px;

    > li {
      width: @_shareIconsSize;
      height: @_shareIconsSize / 2;
    }
  }
  .embed-title {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 700;
  }

  .embed-author {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
  }

}

#share-close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  color: #EEE;
}

.share-options input, 
.share-options textarea {
  width: 50%;
  min-width: 320px;
  padding: 10px;
  border: none;
  float: left;
  border-radius: 2px;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #2BB673;
  }
} 

.share-options textarea {
  background: black;
  height: 100px;
  color: #EEE;
  font-family: menlo, monospace ;
}

.share-options fieldset {
  border: none;
  padding: 10px 0;
  min-width: 560px;
}

.share-options label {
  display: block;
  padding-bottom: 5px;
}

.share-buttons {
  float: left;
  margin: 0;
  margin-left: 20px;
  display: none;
}

.share-buttons > li > a {
  padding: 3px;
}

.share-size {
  width: 100px;
  float: left;
  margin-left: 20px;
}

.share-size > label {
  font-size: .9em;
}




/*********************************************************
* MEDIA QUERIES
*/

@small: 560px;
@medium: 640px;
@large: 853px;
@xlarge: 1280px;

@media only screen and ( max-width: @large ) {

  #post-roll {
    font-family: "ff-meta-web-pro";
    text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
    font-size: 1.2em;
    line-height: 1.4em;
    color: #676867;
  }

  #post-roll {

    .post-roll-inner {
      left: 0px !important;
      width: 80% !important;
      padding: 5% !important;
      top: 10%;
    }

    .embed-logo {
      width: 20% !important;
      background-size: 100% !important;
      margin-left: 10%;
      margin-top: 0px;
      height:255px !important;
    }

    .embed-title {
      font-size: 25px !important;
      font-weight: 700;
      line-height: 1em;
    }

    .mozpopcorn {
      color: #D53B2A;
      font-weight: bold;
      font-size: 16px;
      margin: 0 0 5px 0;
    }

    .embed-author {
      margin-bottom: 1em;
      font-size: 18px;
    }

  }

}


@media only screen and ( max-width: @small ) {

  #post-roll {

    .embed-project {
      padding-left: @embedLogoWidth + 30px;
    }

    .embed-logo {
        width: 20%;
        background-size: 100%;
        margin-left: 20px;
        margin-top: 0px;
        height: 175px;
      }

      .embed-project {
        margin-top: 0;
      }

      .embed-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 1em;
      }

      .mozpopcorn {
        color: #D53B2A;
        font-weight: bold;
        font-size: 15px;
        margin: 0 0 5px 0;
      }

      .embed-author {
        margin-bottom: 1em;
        font-size: 16px;
      }

      .embed-project {
        margin-top: 0px;
        padding-left: 0;
      }

      .post-roll-inner {
        left: 0px;
        top: 0px;
        width: 90%;
        padding: 0;
      }

  }

  #share {
    .share-inner {
      padding: 5px;
    }
    .embed-logo {
      background: url( "../resources/logo/logo-100x45.png" ) no-repeat;
      width: @embedLogoWidth;
      height: @embedLogoHeight;
    }
    .embed-title {
      margin-top: 5px;
      font-size: 18px;
    }
    .embed-project {
      padding-left: @embedLogoWidth + 30px;
    }
    .share-options {
      padding-left: 30px;
      fieldset {
        padding: 3px 0;
      }
      textarea {
        height: 40px;
      }
    }
  }

    #post-roll {
      font-family: "ff-meta-web-pro";
      text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
      font-size: 1em;
      line-height: 1.4em;
      color: #676867;
    }


  .embed-info {

    .profile-mug {
      width: 63px;
      height: 63px;
      background-size: 100%;
      margin-right: 10px;
    }

    .mozpop {
      font-size: .9em;
    }

    .embed-title {
      font-size: 1.3em;

    }

    .embed-author {
      font-size: 1em;
    }

    .group {
      margin-top: 0px;
    }
  }

  #play {
    width: 40px;
    background-size: 100%;
    margin-top: 0;
  }

}
