.butter-media-properties
  height 32px
  width 100px
  overflow hidden

  .butter-container
    top 0

  .butter-inner-container
    padding 10px
    margin-bottom 30px
    visibility hidden

  &.open
    .butter-inner-container
      visibility visible

    .butter-edit-message
      visibility hidden

  .butter-url
    width 224px
    overflow hidden

    input, button
      transition opacity .2s
      opacity 0

    input
      width 190px
      padding 5px 3px
      border 1px solid #333

    button.butter-btn-remove
      padding 2px 3px
      width 25px

    &.fade-in
      input, button
        opacity 1
        display inline-block

    &:nth-of-type(1)

      button
        display none

      input
        width 220px

  button
    &.butter-btn-save, &.butter-btn-add-url
      margin-top .5em
      float right
      line-height 13px

    &.butter-btn-remove
      margin-top .02em
