/*********************************************************
* MEDIA EDITOR
*/

.media-editor {

  .container {
    padding: 15px;
  }

  .media-editor-inner-wrapper { // Textarea wrappers
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    &:hover .delete-media-btn {
      right: 2px;
    }
  }

  .alternate-media-label { // When alternate media are displayed
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    &:hover {
      color: #000;
    }
    >.icon-x {
      float: right;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  &.alternates-hidden { // When alternate media are hidden
    .alternate-media-label {
      font-size: 12px;
      float: right;
      >.icon-x {
        display: none;
      }
      &:after{
        content:"...";
      }
    }
    .media-editor-inner-wrapper:not(:first-of-type),
    #add-alternate-media-source-btn {
      display: none;
    }
  }

  .delete-media-btn {
    position: absolute;
    bottom: 10px;
    right: -20px;
    opacity: 0.5;
    cursor: pointer;
    .transition( right 0.2s ease );
  }

  .error {
    border: 1px inset #ff0000;
  }

  .media-error-message {
    color: #ff0000;
    &.hidden {
      display: none;
    }
  }
}
