//This is the list of plugins that appears after clickling the "Popcorn" Button
.butter-editor-area {
  .plugin-list-editor {
    position: relative;
    top: 5px;
    left: 5px;
    
    .container {
      padding: 5px;
      color: #EEE;
      
      >p {
        margin: 0 0 10px 5px;
        font-size: 14px;
        font-style: italic;
      }
      
      >div {
        cursor: pointer;
        position: relative;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 10px;
        width: 140px;
        font-size: 14px;
        font-weight: 600;
        text-shadow: 0 1px 2px #000;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: inset 0 1px 0 rgba( 255,255,255,0.2 ), 0 3px 3px rgba( 0,0,0,0.2 );
        .gradient( "vertical", #242424, #1F1F1F, true );
      }
      div {
        >span {
          &.icon {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            background-size: 30px;
            background-repeat: no-repeat;
            margin-right: 10px;
          }
          &.label {
            line-height: 30px;
          }
        }
      }
    }
  }
}