//This is the list of plugins that appears after clickling the "Popcorn" Button
.butter-editor-area {
  .plugin-list-editor {
    
    .container {
      padding: 20px;

      >p {
        margin: 0 0 10px 5px;
        font-size: 14px;
        font-style: italic;
      }
      
      >div {
        text-transform: capitalize;
        position: relative;
        background: #FFF;
        box-shadow: inset 0 1px 0 0 white, inset 1px 0 0 0 white, inset -1px 0 0 0 white, inset 0 -1px 0 0 white, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #CCC;
        border-radius: 2px;
        border-top-color: #E3E3E3;
        border-bottom-color: #BDBDBD;
        color: #555;
        font-size: 14px;
        height: 30px;
        margin-bottom: 10px;
        margin-right: 5px;
        line-height: 25px;
        cursor: move;
        padding: 10px;

        &:hover {
          left: -2px;
          top: -2px;
          box-shadow: 4px 4px 0 -2px rgba( 0, 0, 0, .3 );
        }

      }
      div {
        >span {
          &.icon {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            background-size: 30px;
            background-repeat: no-repeat;
            margin-right: 10px;
          }
        }
      
      }
 
    }
  }
}
