body {
  -webkit-user-select: none;

}


video {
  /*border:1px solid black;*/
  width:350px;
  /*height: 299px;*/
  /*margin:10px auto;*/
  /*margin:10px 10px;*/
  /*display:block;*/
}

#ui-tracks{
  /*border:1px solid black;*/
  width:790px;
  /*margin:0 auto;*/
  /*margin:10px 0px;*/
  overflow:hidden;  
}

/*, #ui-plugin-tools*/

.track {
  width:790px;
  height:36px;
  margin-bottom:1px;
}

#head{
  margin:0;
  padding:0;
  height:70px;
  overflow:hidden;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.76, rgb(255,255,255)),
      color-stop(0, rgb(204,204,204))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(204,204,204) 0%,
      rgb(255,255,255) 76%
  );
}

#head #info{margin:2px 0 0 10px;padding:0;}
#head h1, #head h2{margin:0;padding:0;}
#head img.logo{width:64px; height:64px;float:left;margin:0 10px 0 0;}

.track1{
/*
  background:url(transparency.gif);
*/
}

canvas{
/*  border:2px solid red;*/
}

#image-container{position:fixed;top:0;left:0;border:1px dotted red;}

/*#ui-track-event-editor .edit-buttons { text-align:right;margin:10px 0;}*/
#ui-track-event-editor {

}

#ui-video-track-editor {
  
}

#ui-track-event-editor label{display:block;text-align:right;margin-bottom:2px;}


#ui-track-event-editor label  input{
  width:175px;margin-left:10px;
  border:1px solid #CCC;
  border-radius:6px;
  font-size:12px!important;
  padding:5px;
  background:
    -linear-gradient(left, #DDD, #FFF)
  ;
  background:  
  -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#FFF))
  ;
}

#ui-tools-accordion {
  /*height: 300px;*/
}

.select-ul{margin-left:0;padding-left:0;}
.select-li{padding:.1em;list-style-type:none}
.select-li h3 { margin-bottom: 0; }


.icon{vertical-align: middle;}

.clickable{cursor:pointer;}

.enter{background-color: "#FFCC11";}
.leave{background-color: "#FFFFFF";}

/*
.ui-left-pane {
  width: 350px;
  float:left;
}

.ui-center-pane {
  width: 410px;
  float:left;
}


.ui-right-pane {
  width: 300px;
  float:left;
}


.ui-pane {
  
  margin: 0 10px 0 0;

}

.ui-right {
  float: right;
}

*/
.ui-plugin-pane {
  float: left;
  
  height: 180px; 
  /*border-right: 1px solid #b6b6b6;*/
  
  background: #b6b6b6;
  
  
}

#ui-tools-accordion div {
  height: 180px;
  overflow-y:scroll;
}

#ui-scrubber {
  background:red;
  width:10px;
  height:100px;
  position: absolute;
  z-index:999;
  cursor:move;
}


.track-label {
z-index:999;position:absolute;
}


