//This is the css for the editor that is opened when clicking the "Share" Button
.butter-editor-area {
  .share-editor {

    .sub-container {
      >p {
        padding-right: 10px;
        display: inline-block;
      }
    }

    .hide-container {
      display: none;
    }

    .fade-container {
      opacity: 0.3;
    }

    .butter-project-author {
      width: 240px;
    }

    .butter-project-author-update {
      width: 66px;
    }

    .container {
      padding: 20px;

      >p {
        margin: 0 0 10px 5px;
        font-size: 14px;
        font-style: italic;
      }

      .big {
        font-size: 16.25px;
      }

      >label {
        font-size: 13px;
        display: block;
        padding: 10px 0;
      }

      >textarea {
        min-height: 100px;
        line-height: 1.25;
        resize: none;
      }
    }
  }
}
