/*********************************************************
* TRAY
*/

// Adds room to bottom of template for tray
.butter-tray-spacing {
  padding-bottom: @TRAY_SPACING;
  .transition( padding-bottom 0.5s );
}

.butter-tray-spacing.tray-minimized {
  padding-bottom: @TRAY_SPACING_MINIMIZED;
}

.butter-editor-spacing.editor-minimized .butter-tray {
  right: 0;
}

.butter-tray {
  .selectable( none );
  position: fixed;
  z-index: @TRAY_Z_INDEX;
  bottom: 0;
  left: 0;
  right: @EDITOR_WIDTH;
  height: @TRAY_HEIGHT;
  border: 1px solid #000;
  background-image: url( "../resources/bg.jpg" );
  .transition( bottom 0.35s, right 0.35s );

  * { 
    .selectable( none );
  }
  &.minimized {
    bottom: -170px;
  }

  .butter-toggle-button {
    top: -23px;
    right: 10px;
  }

  // This is the list of plugins in "my events"
  .butter-timeline-area {
    position: relative;
    height: 160px;
    top: 50px;
  }

  // This is the container for the spinning popcorn logo on the right side of the tray
  .butter-loading-container {
    position: absolute;
    z-index: @TRAY_Z_INDEX + 1;
    right: 10px;
    top: 3px;
    width: 50px;
    height: 50px;
  }

  .fadable { 
    //TO-DO: This should be moved into a general UI kit
    .transition( opacity 0.5s );
  }

}
