/* ===== Primary Styles ========================================================
   Author: @k88hudson
   ========================================================================== */
body {
  color: #EEE;
  font-size: 100%;
  font-family: lato, ratio, sans-serif;
}
.inner-container {
  background-image: url(../img/grunge_top.png), url(../img/grunge_wall.png);
  background-repeat: repeat-x, repeat;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: orgovan-rounded-web, sans-serif;
  font-weight: 400;
}

h3 {
  border-bottom: 1px solid #212121;
}

/*- - - Header - - -*/
header { 
  position: relative;
  padding: 70px 0 15px 0;
  text-align: center;
}
.logo {
  font-size: 50px;
  margin: 0;
  opacity: .1;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.logo:hover, .logo.on {
  font-size: 60px;
  opacity: .9;
  -webkit-animation: rumble .1s infinite linear;
  -moz-animation: rumble .1s infinite linear;
  -o-animation: rumble .1s infinite linear;
}

/* /header */

/*- - - Main - - -*/
section[role="video-container"] {
  position: relative;
  background: #000;
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);
  min-height: 450px;
  width: 100%;
  z-index: 100;
}
section[role="video-container"]  > video {
  width: 100%;
}

section[role="suplementary"] {
  font-weight: 400;
  line-height: 1.4;
  margin: 40px 0;
}
.block {
  float: left;
  width: 350px;
  margin-right: 25px;
}
.block:first-child, .block:last-child {
  width: 200px;
}
.block:last-child {
  margin-right: 0;
}

/* /main */

/*- - - Footer - - -*/
footer {
  border-top: 1px solid #999;
  padding: 20px 0 40px 0;
}
/* /footer */