body {
  font-family:sans-serif;
  margin:0px;
  background-color:#BF413B;
  background-image : -moz-radial-gradient(top, #ccc, #999);
  background-image : -webkit-gradient(radial, center center, 10, center center, 600, from(#ccc), to(#999), color-stop(0%, #ccc));
  height: 600px;
}
.butter-video {
  background-color: #999;
  background-image: -moz-linear-gradient(top, #eee, #666);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #666));
  -webkit-box-shadow: 0px 0px 4px #222 ;
  -moz-box-shadow: 0px 0px 4px #222 ;
  box-shadow: 0px 0px 4px #222 ;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#videoTitle {
  color: #ccc;
  text-shadow: -1px 0px 1px #222;
  margin: 0px 0px 0px 0px;
}
#videoDescription {}
.butter-plugin {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;  
  -webkit-box-shadow: 1px 1px 14px #777 inset;
}
#iframe-container {background:#ccc url('img/webpage.png') no-repeat 10px 10px; }
#iframe-container iframe {border: none;}
#map-container {background:#ccc url('img/googlemap.png') no-repeat 10px 10px;}
#footnote-container {background:#ccc url('img/footnote.png') no-repeat 10px 10px;}
#flickr-container {background:#ccc url('img/flickr.png') no-repeat 10px 10px;}
#image-container {background:#ccc url('img/image.png') no-repeat 10px 10px;}
#twitter-container {background:#ccc url('img/twitter.png') no-repeat 10px 10px;}
#wiki-container {background:#ccc url('img/wikipedia.png') no-repeat 10px 10px;}