/*
Webpage Maker Styles
================================
Global styles and classes
*/

  body {
    color: #555;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
  }

  a {
    color: #3FB58E;
  }
  a:hover {
    color: #00BA91;
  }

  .threeColumn {
    margin-left: 47px;
  }

  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    color: rgb(109, 110, 113);
    font-weight: 100;
    line-height: 50px;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(109, 110, 113);
    font-weight: 500;
    line-height: 23px
  }

  p,
  ul {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: rgb(147, 149, 152);
    line-height: 23px;
  }

  .hero-unit iframe {
    float: right;
    margin-bottom: 20px;
  }

  .intro-bar {
    position: absolute;
    width: 110%;
  }
  .butter-btn:hover {
    text-decoration: none;
  }
  .butter-btn.btn-green {
    border: 1px solid transparent;
  }

  .byline {
    font-style: italic;
    margin-bottom: 0.5em;
  }

  hgroup {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .hero-unit p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }
  .hero-unit h1 {
    margin-left: -12px;
    margin-top: 40px;
    width: 500px;
    height: 140px;
    background: url( "../../logo-big.png" ) no-repeat;
    margin-bottom: 30px;
  }
  .hero-unit h2 {
    font-size: 42px;
    line-height: 1;
    font-family: "Open Sans Light", sans-serif;
    margin-bottom: 0.5em;
  }

  a.top,
  a.top:link,
  a.top:visited,
  a.top:hover,
  a.top:active {
    color: #666;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  a.top:before {
    content: "⇧ ";
  }

  .more {
    float: right;
    margin: 1em 0;
  }

  .large,
  .large h1 {
    font-size: 58px;
  }

/*
Global styles and classes
================================
Layout styles
*/

  #outer-wrapper {
    position: relative;
    border-top: none;
    overflow: hidden;
  }

  #wrapper {
    padding-bottom: 0;
    display: table;
    width: 100%;
  }

  #test-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #tabzilla {
    position: absolute;
    top: 0;
    right: 0;
  }
  #tabzilla-panel {
    z-index: 2;
  }

  #header {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px
    rgba(0, 0, 0, .5);
    background: #FFF;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
  }

  #masthead {
    margin-bottom: 35px;
  }

  #masthead .row {
    clear: both;
  }

  .logo {
    font-family: "Open Sans", sans-serif;
    font-size: 2.2em;
    font-weight: 200;
    line-height: normal;
  }

  .logo a,
  .logo a:link,
  .logo a:visited,
  .logo a:hover,
  .logo a:active
  {
    color: #4d4d4d;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    float: left;
  }

  .logo img {
    display: block;
    position: relative;
    padding-top: 10px;
  }

  #masthead nav {
    float: none;
  }

  #masthead nav ul li {
    display: inline;
  }

  #nav-main a:hover,
  #nav-main a:active {
    text-decoration: none;
  }

  #nav-main ul {
    height: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
  }

  #masthead #nav-main li a {
    -webkit-transition: all .25s linear 0s;
    -moz-transition: all .25s linear 0s;
    -ms-transition: all .25s linear 0s;
    -o-transition: all .25s linear 0s;
    transition: all .25s linear 0s;
    display: block;
    min-width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 0 0 -1px;
    padding: 0 15px;
    float: left;
    text-align: center;
    border: solid #E1E2E3;
    border-width: 0 1px;
    position: relative;
  }

  #nav-main li a:hover {
    background: rgba(28,144,193,0.1);
  }

  #home #nav-main .home a {
    background: #4199D6;
    color: #FFF;
    border: none;
    margin-right: 1px;
    text-shadow: -1px -1px #347DB0;
  }

  #home #nav-main .home a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: solid transparent;
    border-width: 25px 50px 0 50px;
    border-top-color: #4199D6;
  }

  #page-bottom {
    background-color: #fff;
    border-top: solid 1px #E1E2E3;
    margin-top: 50px;
  }

  #colophon {
    line-height: 25px;
  }

  #colophon h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: #999;
    font-size: 2em;
  }

  #colophon h3 {
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1em;
    margin-top: 1em;
  }

  #colophon a,
  #colophon a:link,
  #colophon a:visited,
  #colophon a:hover,
  #colophon a:active {
    color: #27AAE1;
    text-decoration: none;
  }

/*
Layout styles
================================
Home styles
*/

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba( 0, 0, 0, 0.8 );
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#modal {
  position: absolute;
  width: 560px;
  height: 358px;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: -170px;
  box-shadow: 0 10px 10px -5px #000;
}

#modal a {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
}
#home .caption p {
  margin-bottom: 0;
}

.close-btn {
  background: #000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.close-btn:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  background: url( "../img/glyphiconshalflings-white.png" ) -432px -24px no-repeat;
  width: 14px;
  height: 14px;
}

.thumbnail img {
  width: 560px;
  height: 340px;
  border: 6px solid white;
  -webkit-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.thumbnails {
  margin-left: -24px;
  list-style: none;
}

.thumbnail {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.action {
  text-align: center;
}


#projects {
  padding-top: 24px;
  border-top: 1px dashed #CCC;
  border-bottom: 1px dashed #CCC;
}
#projects .row {
  margin-bottom: 24px;
}

#projects .project-items {
  min-height: 270px;
}

#projects .row:after,
#projects .row:before {
  content: "";
  display: table;
  clear: both;
}

#projects h4 {
  margin-bottom: 24px;
}

.thumbnail {
  width: 130px;
  height: 130px;
  margin-right: 24px;
  background: #CCC;
  float: left;
}
.thumbnail img {
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
}

.thumbnail:hover:after {
  content: "Preview";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  margin-left: -35px;
  margin-top: -15px;
  background: rgba( 0, 0, 0, 0.5 );
  color: #FFF;
  text-align: center;
}
.caption {
  float: left;
  width: 260px;
}

#bottom-section {
  padding-top: 48px;
}

#projects .span5 {
  padding: 20px;
  height: 280px;
  background: #FFF;
  border: 1px solid #DDD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#projects .span5 .caption {
  width: 200px;
}

.episode .butter-btn {
  line-height: 15px;
  padding: 5px 10px;
}
