[submodule "external/popcorn-js"]
	path = external/popcorn-js
	url = git://github.com/mozilla/popcorn-js.git
[submodule "external/html5-lint"]
	path = external/html5-lint
	url = git://github.com/mozilla/html5-lint.git
