/* ===== Primary Styles ========================================================
   Author: @k88hudson
   ========================================================================== */
body {
  color: #EEE;
  font-size: 100%;
  font-family: lato, "Helvetica Neue", sans-serif;
}
.inner-container {
  background: url(../img/grunge_top.png) repeat-x, url(../img/grunge_wall.png) repeat;
}
.wrapper {
  margin: 0 auto;
  width: 800px;
}

h1, h2, h3 {
  font-weight: 400;
  font-family: orgovan-rounded-web, bangers, sans-serif;
}

h3 {
  border-bottom: 1px solid #212121;
}

/*- - - Header - - -*/
header { 
  position: relative;
  padding: 70px 0 15px 0;
  text-align: center;
}
.logo {
  margin: 0;
  font-size: 50px;
  opacity: .3;
  color: transparent;
  text-shadow: 0 0 8px #EEE;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transition: all .5s ease;
}

.logo:hover, .logo.on {
  font-size: 60px;
  opacity: .9;
  text-shadow: 0 0 3px #EEE;
  -webkit-animation: rumble .1s infinite ease;
  -moz-animation: rumble .1s infinite ease;
  -o-animation: rumble .1s infinite ease;
  -ms-animation: .1s infinite ease;
  animation: rumble .1s infinite ease;
}

/* /header */

/*- - - Main - - -*/
section[role="video-container"] {
  position: relative;
  z-index: 100;
  width: 100%;
  min-height: 450px;
  background: #000;
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);
}
section[role="video-container"]  > video {
  width: 100%;
}
.video-overlay {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 0;
  width: 100%;
}

.text-overlay {
  display: table; 
  height: 100%;
}

.text-overlay > div {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

section[role="suplementary"] {
  margin: 40px 0;
  font-weight: 400;
  line-height: 1.4;
}
.block {
  float: left;
  margin-right: 25px;
  width: 350px;
}
.block:first-child, .block:last-child {
  width: 200px;
}
.block:last-child {
  margin-right: 0;
}

/* /main */

/*- - - Footer - - -*/
footer {
  padding: 20px 0 40px 0;
  border-top: 1px solid #999;
}
/* /footer */



/* FLICKR
-------------------------------------------------- */
.popcorn-flickr p {
  display: none;
}
.popcorn-flickr a {
  position: absolute;
  display: inline-block;
  opacity: .8;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.popcorn-flickr a > img {
  width: 100%;
  height: auto;
  box-shadow: 3px 3px 20px #000;
}
.popcorn-flickr a:hover{
  opacity: 1;
  z-index: 2000;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.popcorn-flickr a:nth-child(4n+0){
  -webkit-animation: float 10s infinite linear;
  -moz-animation: float 10s infinite linear;
  -ms-animation: float 10s infinite linear;
  -o-animation: float 10s infinite linear;
  animation: float 10s infinite linear;
}
.popcorn-flickr a:nth-child(4n+1){
  -webkit-animation: floatb 18s infinite linear;
  -moz-animation: floatb 18s infinite linear;
  -ms-animation: floatb 18s infinite linear;
  -o-animation: floatb 18s infinite linear;
  animation: floatb 18s infinite linear;
}
.popcorn-flickr a:nth-child(4n+2){
  -webkit-animation: floatc 10s infinite linear;
  -moz-animation: floatc 10s infinite linear;
  -ms-animation: floatc 10s infinite linear;
  -o-animation: floatc 10s infinite linear;
  animation: floatc 10s infinite linear;
}
.popcorn-flickr a:nth-child(4n+3){
  -webkit-animation: float 10s infinite linear;
  -moz-animation: float 10s infinite linear;
  -ms-animation: float 10s infinite linear;
  -o-animation: float 10s infinite linear;
  animation: float 10s infinite linear;
}
.popcorn-flickr a:nth-child(10n){
 width: 100px;
  bottom: 50px;
  left: 300px;
}
.popcorn-flickr a:nth-child(10n+1){
 bottom: 100px;
  right: 40px;
  width: 200px;
}
.popcorn-flickr a:nth-child(10n+2){
  top: 10px;
  right: 10px;
  width: 400px;
}
.popcorn-flickr a:nth-child(10n+3){
  bottom: 0;
  left: 200px;
}
.popcorn-flickr a:nth-child(10n+4){
  width: 300px;
  top: 40px;
  left: 100px;
}
.popcorn-flickr a:nth-child(10n+5){
  width: 100px;
  bottom: 40px;
  left: 100px;
}
.popcorn-flickr a:nth-child(10n+6){
  width: 200px;
  top: 140px;
  right: 20px;
}
.popcorn-flickr a:nth-child(10n+7){
  width: 100px;
  bottom: 40px;
  right: 500px;
}
.popcorn-flickr a:nth-child(10n+8){
  width: 200px;
  bottom: 50px;
  left: 30px;
}
.popcorn-flickr a:nth-child(10n+9){
  top: 200px;
  left: 360px;
  width: 400px;
}

/* ---/ FLICKR ------------------------------- */

/* TITLES
-------------------------------------------------- */
.top-title, .bottom-title, .mid-title {
  text-align: center;
}
.top-title {
  font-family: 'Jolly Lodger', Georgia;
  font-size: 120px;
  text-transform: uppercase;
  color: #FFF;
  line-height: 1;
}
.mid-title {
  font-family: 'Fredericka the Great', Georgia; 
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 0.1em;
}
.bottom-title {
  font-family: 'Lovers Quarrel', Georgia; 
  font-size: 80px; 
  margin: 0 20px;
}
/* ---/ TITLES ------------------------------- */
