<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Robots</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="../shared/popcorn.transitions.css">
  <link rel="stylesheet" href="../shared/normalise.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://browserid.org/include.js" type="text/javascript" data-butter-exclude></script>
  <script src="../../src/butter.js" data-butter-exclude /></script>
  <script type="text/javascript" src="butter/complete.js" data-butter-exclude></script>

  <script type="text/javascript" src="http://use.typekit.com/vjc5yjz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
<div class="inner-container">
  <div class="wrapper">
    <header>
      <h2 id="logo" class="logo blur">Robots in everytown</h2>
    </header>
    <div role="main">
      <section id="video-container" role="video-container">
        <video id="video" preload class="video-js" data-butter="media" controls>
        <source src="http://videos-origin.mozilla.org/serv/webmademovies/makecorn.webm" />
      </video>
      </section>
      <section role="suplementary" class="cf">
        <article class="block" data-butter="target">
        </article>
        <article class="block">
        </article>
        <article class="block" data-butter="target">
        </article>
      </section>
    </div>
    <footer>
      <span>Creative commons</span>
    </footer>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="js/script.js"></script>
</body>
</html>
