doctype 5
html
  head
    script(src='//cdn.optimizely.com/js/206878104.js')
    title Dashboard
    link(rel='stylesheet',href='../css/butter.ui.css')
    script
      (function(){
        var currentDeletionId;

        function setDeletionHeaderState( state, projectName ) {
          var header = document.querySelector( 'div.butter-delete-confirmation' ),
              nameSpan = header.querySelector( 'span' ),
              table = document.querySelector( 'table' );

          if ( !state ) {
            //avoid shim problems completely
            header.className = 'butter-delete-confirmation';
          }
          else {
            nameSpan.innerHTML = projectName;

            //avoid shim problems completely
            header.className = 'butter-delete-confirmation open';
          }
        }

        function createDeleteHandler( deleteElement ) {
          var projectId = deleteElement.getAttribute( 'data-project-id' ),
              projectName = deleteElement.getAttribute( 'data-project-name' );

          deleteElement.addEventListener( 'click', function( e ) {
            setDeletionHeaderState( true, projectName );
            currentDeletionId = projectId;
          }, false );
        }

        document.addEventListener( 'DOMContentLoaded', function( e ) {
          var deleteButtons = document.querySelectorAll( 'td > a.butter-delete-button' ),
              i = deleteButtons ? deleteButtons.length : 0,
              noButton = document.querySelector( 'div.butter-delete-confirmation button.no' ),
              yesButton = document.querySelector( 'div.butter-delete-confirmation button.yes' );

          noButton.addEventListener( 'click', function( e ) {
            setDeletionHeaderState( false );
            currentDeletionId = null;
          }, false );

          yesButton.addEventListener( 'click', function( e ) {
            var req,
                row;
            if ( currentDeletionId ) {
              req = new XMLHttpRequest();
              req.open( 'POST', '/api/delete/' + currentDeletionId, false );
              req.setRequestHeader( "x-csrf-token", document.getElementById( "csrf" ).value );
              row = document.querySelector( 'tr[data-project-id="' + currentDeletionId + '"]' );
              currentDeletionId = null;
              req.send( null );
              if ( req.status == 200 || req.status == 404 ) {
                row.parentNode.removeChild( row );
              }
              setDeletionHeaderState( false );
            }
          }, false );

          while ( i-- ) {
            createDeleteHandler( deleteButtons[ i ] );
          }
        }, false );
      }());
    style
      body {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        background: #F4F5F5;
        color: #888;
        margin: 0 auto;
        font-size: .9em;
        overflow: scroll;
        text-align: center;
      }
      .butter-nav {
        width: 100%;
      }
      .butter-project-title {
        max-width: none;
      }
      table, th, tr, td {
        border: none;
        border-spacing: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
      }
      .table-container {
        border: 1px solid #DDD;
        display: inline-block;
      }
      table {
        color: #555;
      }
      th {
        text-align: left;
        border-bottom: 1px solid #DDD;
        font-size: 1em;
        background: #FFF;
        color: #777;
        line-height: 2;
        font-weight: 600;
      }
      td, th {
        box-sizing: border-box;
        padding: 0.7em 1em;
        vertical-align: middle;
      }
      td:first-child:hover a {
        color: #00BA91;
      }
      tr:nth-child(odd) {
        background: #F4F5F5;
      }
      tr:nth-child(even) {
        background: #FFF;
      }

      .butter-delete-button {
        opacity: 0.5
      }
      .butter-delete-button:hover {
        opacity: 1;
      }

      .butter-projects-title {
        display: block;
        text-align: left;
        text-decoration: none;
        color: #555;
        max-width: 350px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }
      .butter-delete-confirmation {
        position: fixed;
        width: 300px;
        padding: 50px;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -175px;
        background: #FFF;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        color: #000;
        text-align: center;
        overflow: hidden;
        border: 1px solid #DDD;
        border-radius: 3px;
        opacity: 0;
        z-index: 10;
        visibility: hidden;
      }
      .butter-delete-confirmation p {
        margin-bottom: 0;
      }
      .butter-delete-confirmation span {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .butter-delete-confirmation.open {
        opacity: 1;
        visibility: visible;
      }
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35433268-12']);
      _gaq.push(['_setDomainName', 'webmaker.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body.butter-header-spacing.butter-editor-spacing
    div#butter-header.butter-header
      div.butter-header-primary
        div.butter-logo
        ul.butter-nav
          li.butter-breadcrumbs
          li.butter-project-title
            span.butter-name
              = user.email
              |'s projects
    div.butter-delete-confirmation
      | Are you sure you want to delete "
      span.project-name
      | " and any uploaded images?
      p
        button.yes.butter-btn.btn-green Yes
        |
        button.no.butter-btn.btn-red No

    .table-container
      table
        tr
          th Project Title
          th
        each project in projects
          tr(data-project-id=project._id)
            td
              a(href= project.href).butter-projects-title
                = project.name
            td
              a(href= "#", data-project-id=project._id, data-project-name=project.name).butter-delete-button
                span.icon.icon-trash.icon-only

    input(id="csrf", type="hidden", value=user.csrf)
