doctype 5
html
  head
    title Oops, you've found an error
    style
      body {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        background: #3D3F44;
        color: #EEE;
        width: 650px;
        margin: 0 auto;
        font-size: 1.5em;
        text-align: center;
      }
      img {
        width: 650px;
      }
  body
    h1 Oops, you've found an HTTP #{status} #{message} error
    img(src="/struggling-dino.gif")
    p Maybe go back to the&nbsp;
      a(href="/") homepage
      ?
