!!! 5
html(lang='en')
  head
    title Projects
    link(rel='stylesheet', href='/media/css/sandstone.css')
    link(rel='stylesheet', href='/css/butter.ui.css')
    link(rel='stylesheet', href='//www.mozilla.org/tabzilla/media/css/tabzilla.css')
    style
      html {
        background: #F9F9F9;
        min-height: 101%;
      }
      body {
        overflow: visible;
      }
      h1 {
        padding-top: 1em;
      }
  body
    nav#webmaker-nav
    div#wrapper
      div.container
        h1 Project APIs
        p We now have API's, and by gad are we going to use them!
        #fooer
        h2#new Recent makes
        h2#updated Recently updated
        script(src='/src/firehose.js')
