#main {
  min-width: 300px;
  min-height: 200px;
}

.content-div {
  width: 200px;
  height: 200px;
  border: 3px solid #000;
  margin: 5px;
}

#main, .content-div {
  float: left;
}

.container-div {
  float: left;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
}

video {
  position: relative;
  top: 30px;
}

#manual-test {
  clear: both;
  padding-top: 20px;
  margin-left: 20px;
}

button {
  margin: 5px;
  padding: 0.25em 0.75em 0.2em;
  display: inline-block;
  color: #000000;
  font-size: 1.142em;
  border: 0 none;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}