//This is the list of plugins that appears after clickling the "Popcorn" Button
.plugin-list-editor .plugin-container {
  padding: 20px;
}

.butter-plugin-tile {
  text-transform: capitalize;
  position: relative;
  background: #FFF;
  box-shadow: 1px 5px 2px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #CCC;
  border-radius: 2px;
  border-top-color: #E3E3E3;
  border-bottom-color: #BDBDBD;
  color: #555;
  font-size: 13px;
  line-height: 24px;
  cursor: move;
  padding: 8px;
  height: 30px;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;

  &:hover {
    left: -2px;
    top: -2px;
    box-shadow: 4px 4px 0 -2px rgba( 0, 0, 0, .3 );
  }

}

.butter-plugin-icon {
  background: url( "../resources/icons/default-icon.png" ) center no-repeat;
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;

}
