/*********************************************************
* TRAY
*/

// Adds room to bottom of template for tray
.butter-tray-spacing {
  padding-bottom: @TRAY_SPACING;
  .transition( padding-bottom 0.5s );
}

.butter-tray-spacing.tray-minimized {
  padding-bottom: @TRAY_SPACING_MINIMIZED;
}

.butter-editor-spacing.editor-open .butter-tray {
  right: @EDITOR_WIDTH;
}

.butter-tray {
  background: #FFF;
  position: fixed;
  z-index: @TRAY_Z_INDEX;
  bottom: 0;
  left: 0;
  right: 0;
  height: @TRAY_HEIGHT;
  .selectable( none );

  * {
    .selectable( none );
  }

  &.butter-tray-minimized {
    bottom: -@TRAY_HEIGHT + @_butterStatusHeight;
  }

  &.butter-tray-transitions {
    .transition( bottom 0.35s, right 0.35s );
  }

  .butter-toggle-button {
    top: 15px;
    right: 6px;
    z-index: @TRAY_Z_INDEX + 10;
  }

  // This is the list of plugins in "my events"
  .butter-timeline-area {
    position: relative;
    height: 160px;
    top: @_butterStatusHeight;
  }

  // This is the container for the spinning popcorn logo on the right side of the tray
  .butter-loading-container {
    position: absolute;
    z-index: @TRAY_Z_INDEX + 1;
    right: 5px;
    top: 12px;
    width: 16px;
    height: 16px;
  }

  .fadable {
    //TO-DO: This should be moved into a general UI kit
    .transition( opacity 0.5s );
  }



}
