.tutorial-list {
  float: left;
}

.previous-tutorial-button {
  background-image: url(/resources/icons/glyphiconshalflings-alt.png);
  float: left;
  height: 14px;
  width: 14px;
  background-position: -288px -120px;
}

.next-tutorial-button {
  background-image: url(/resources/icons/glyphiconshalflings-alt.png);
  float: left;
  height: 14px;
  width: 14px;
  background-position: -313px -120px;
  margin-top: 14px;
  margin-left: -14px;
}
