/* This Source Code Form is subject to the terms of the MIT license
 * If a copy of the MIT license was not distributed with this file, you can
 * obtain one at http://www.mozillapopcorn.org/butter-license.txt */

#butter-timeline, #butter-timeline * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#butter-modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}

#butter-modal-container .layer iframe {
  width: 60%;
  height: 60%;
  margin: 5% 20%;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 20px;
  opacity: 0;
}

#butter-modal-container .layer.fade-in, #butter-modal-container .layer iframe.fade-in {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#butter-modal-container .layer.behind-timeline {
  z-index: 2139000000;
}

#butter-modal-container .layer {
  z-index: 2140000100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, 0.7 );
  position: fixed;
  opacity: 0;
}

#butter-timeline {
  position: fixed;
  z-index: 2140000000;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 210px;
  border: 1px solid #000;
  background-image: url( "assets/bg.jpg" );
  -moz-transition: bottom 0.35s;
  -webkit-transition: bottom 0.35s;
  transition: bottom 0.35s;
}

.butter-highlight {
  position: absolute;
  z-index: 2100000000;
  opacity: 1;
}

.butter-highlight[ blink="true" ]{
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  opacity: 0;
}

.butter-target-highlight {
  background-color: rgba( 170, 170, 10, 0.4 );
}

.butter-media-highlight {
  background-color: rgba( 10, 170, 170, 0.4 );
}

#butter-timeline .status-container {
  position: absolute;
  width: 100px;
  height: 40px;
  top: -50px;
  left: -115px;
}

#butter-timeline .status-button div {
  background-image: url( "assets/buttons.png" );
  cursor: pointer;
}

#butter-timeline .status-container .time-container {
  position: absolute;
  top: 4px;
  left: 20px;
  width: 80px;
  height: 15px;
  background-image: url( "assets/status-bg.png" );
  color: #999999;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 1px 0 #737373, 0 1px 0 #131313 inset;
  border-radius: 20px 20px 20px 20px;
  padding: 2px;
}

#butter-timeline .status-container .time-container input {
  background: transparent;
  color: rgb( 200, 200, 180 );
  border: none;
  width: 65px;
  padding-left: 10px;
  height: 13px;
  font-size: 90%;
}

#butter-timeline .status-container .time-container input:focus {
  -moz-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
}

#butter-timeline .status-container .play-button-container {
  position: absolute;
  left: 2px;
  width: 24px;
  height: 24px;
  background-image: url( "assets/status-bg.png" );
  color: #999999;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 1px 0 #737373, 0 1px 0 #131313 inset;
  border-radius: 20px 20px 20px 20px;
  padding: 3px;
}

#butter-timeline .status-container .play-button-container .status-button {
  width: 24px;
  height: 24px;
  border-radius: 20px 20px 20px 20px;
  background: #d1be70; /* Old browsers */
  background: -moz-linear-gradient(top, #d1be70 0%, #a08546 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1be70), color-stop(100%,#a08546)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1be70 0%,#a08546 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1be70 0%,#a08546 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1be70 0%,#a08546 100%); /* IE10+ */
  background: linear-gradient(top, #d1be70 0%,#a08546 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1be70', endColorstr='#a08546',GradientType=0 ); /* IE6-9 */
}

#butter-timeline .status-container .play-button-container .status-button:hover {
  background: #d1be70; /* Old browsers */
  background: -moz-linear-gradient(top, #d1be70 0%, #ad9b4c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1be70), color-stop(100%,#ad9b4c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1be70 0%,#ad9b4c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1be70 0%,#ad9b4c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1be70 0%,#ad9b4c 100%); /* IE10+ */
  background: linear-gradient(top, #d1be70 0%,#ad9b4c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1be70', endColorstr='#ad9b4c',GradientType=0 ); /* IE6-9 */
}

#butter-timeline .status-button-icon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#butter-timeline .status-container .play-button-container .status-button[mouse-state="depressed"]{
  background: #bdaa5c; /* Old browsers */
  background: -moz-linear-gradient(top, #bdaa5c 0, #e0d299 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#bdaa5c), color-stop(100%,#e0d299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bdaa5c 0,#e0d299 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bdaa5c 0,#e0d299 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bdaa5c 0,#e0d299 100%); /* IE10+ */
  background: linear-gradient(top, #bdaa5c 0,#e0d299 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdaa5c', endColorstr='#e0d299',GradientType=0 ); /* IE6-9 */
}

#butter-timeline .status-container .play-button-container .status-button-icon {
  background-position: -321px 7px;
}

#butter-timeline .status-container .play-button-container .status-button-icon[state="true"] {
  background-position: -320px -19px;
}

#butter-timeline .mute-button-container {
  position: absolute;
  top: -50px;
  right: -30px;
  width: 17px;
  height: 17px;
  background-image: url( "assets/status-bg.png" );
  color: #999999;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 1px 0 #737373, 0 1px 0 #131313 inset;
  border-radius: 20px 20px 20px 20px;
  padding: 3px;
}

#butter-timeline .mute-button-container .status-button {
  width: 17px;
  height: 17px;
  border-radius: 20px 20px 20px 20px;
  background: #b4b4b4; /* Old browsers */
  background: -moz-linear-gradient(top, #b4b4b4 0, #777777 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#b4b4b4), color-stop(100%,#777777)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4b4b4 0,#777777 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4b4b4 0,#777777 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4b4b4 0,#777777 100%); /* IE10+ */
  background: linear-gradient(top, #b4b4b4 0,#777777 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
}

#butter-timeline .mute-button-container .status-button:hover {
  background: #b4b4b4; /* Old browsers */
  background: -moz-linear-gradient(top, #b4b4b4 0, #969696 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#b4b4b4), color-stop(100%,#969696)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4b4b4 0,#969696 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4b4b4 0,#969696 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4b4b4 0,#969696 100%); /* IE10+ */
  background: linear-gradient(top, #b4b4b4 0,#969696 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}

#butter-timeline .mute-button-container .status-button[mouse-state="depressed"] {
  background: #959595; /* Old browsers */
  background: -moz-linear-gradient(top, #959595 0, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#959595), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #959595 0,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #959595 0,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #959595 0,#cccccc 100%); /* IE10+ */
  background: linear-gradient(top, #959595 0,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#butter-timeline .mute-button-container .status-button-icon {
  background-position: -109px -141px;
}

#butter-timeline .mute-button-container .status-button-icon[state="true"] {
  background-position: -109px -157px;
}

#butter-timeline .track-handle-container {
  position: absolute;
  height: 140px;
  width: 110px;
  left: 5px;
  top: 55px;
  bottom: 18px;
  overflow: hidden;
}

#butter-timeline .track-handle-container .handle-list {
  width: 100%;
  padding: 5%;
  width: 95%;
  padding-top: 7px;
  padding-bottom: 7px;
}

#butter-timeline .track-handle-container .handle-list .placeholder {
  background: rgba( 0, 0, 0, 0.3 );
}
#butter-timeline .track-handle-container .handle-list .track-handle {
  cursor: pointer;
  width: 95%;
  box-shadow: 0 1px 0 #737373, 0 1px 0 #131313 inset;
  border-radius: 6px;
  moz-border-radius: 6px;
  o-border-radius: 6px;
  webkit-border-radius: 6px;
  margin-bottom: 6px;
  position: relative;
  background-image: -moz-linear-gradient(center bottom,#1c1c1c 0,#2a2a2a 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#1c1c1c),color-stop(1,#2a2a2a));
  color: #666;
  font: 10px/25px Arial,Helvetica,sans-serif;
  height: 28px;
  margin-bottom: 6px;
  box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 0px 10px 1px rgba( 160, 160, 160, 0.1 ), 1px -1px 1px #101010, -1px -1px 1px #101010;
  moz-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 0px 10px 1px rgba( 160, 160, 160, 0.1 ), 1px -1px 1px #101010, -1px -1px 1px #101010;
  o-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 0px 10px 1px rgba( 160, 160, 160, 0.1 ), 1px -1px 1px #101010, -1px -1px 1px #101010;
  webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 0px 10px 1px rgba( 160, 160, 160, 0.1 ), 1px -1px 1px #101010, -1px -1px 1px #101010;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

#butter-timeline .track-handle-container .handle-list .placeholder {
  width: 95%;
  box-shadow: 0 1px 0 #737373, 0 1px 0 #131313 inset;
  border-radius: 6px;
  moz-border-radius: 6px;
  o-border-radius: 6px;
  webkit-border-radius: 6px;
  margin-bottom: 6px;
  position: relative;
  border: 1px solid #111;
  color: #666;
  height: 25px;
  margin-bottom: 6px;
  box-shadow: 0 1px 0 #737373,inset 0 1px 0 #414141;
  moz-box-shadow: 0 1px 0 #737373,inset 0 1px 0 #414141;
  o-box-shadow: 0 1px 0 #737373,inset 0 1px 0 #414141;
  webkit-box-shadow: 0 1px 0 #737373,inset 0 1px 0 #414141;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

#butter-timeline .track-handle-container .handle-list .track-handle:hover {
  background-image: -moz-linear-gradient(center bottom,#0c0c0c 0,#2a2a2a 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#0c0c0c),color-stop(1,#2a2a2a));
}

#butter-timeline .track-handle-container .handle-list .track-handle .menu {
  position: absolute;
  width: 0px;
  height: 28px;
  top: -1px;
  left: 0px;
  z-index: +1;
  background: rgba( 100, 100, 100, 0.5 );
  border-radius: 7px;
  -moz-transition: width 0.1s;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
}

#butter-timeline .track-handle-container .handle-list .track-handle:hover .menu {
  width: 20px;
}

#butter-timeline .track-handle-container .handle-list .track-handle .menu:hover {
  background: rgba( 100, 100, 100, 0.8 );
}

#butter-timeline .track-handle-container .handle-list .track-handle .menu .delete {
  position: absolute;
  right: 3px;
  top: 8px;
  background-image: url( "assets/buttons.png" );
  background-position: -143px -144px;
  cursor: pointer;
  width: 15px;
  height: 10px;
}

#butter-timeline .time-bar {
  position: absolute;
  top: -45px;
  width: 100%;
  height: 30px;
}

#butter-timeline .time-bar-scrubber-container {
  z-index: 2140000000;
  background-image: url( "assets/status-bg.png" );
  border-radius: 15px;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  top: 0px;
  width: 100%;
  height: 7px;
  left: 0;
  box-shadow: 0 1px 0 #737373,inset 0 1px 1px #131313;
  height: 8px;
  moz-box-shadow: 0 1px 0 #737373,inset 0 1px 1px #131313;
  o-box-shadow: 0 1px 0 #737373,inset 0 1px 1px #131313;
  padding: 0 2px;
  webkit-box-shadow: 0 1px 0 #737373,inset 0 1px 1px #131313;
}

#butter-timeline .time-bar-scrubber-container .fill-bar {
  background: none repeat scroll 0 0 rgba( 200, 200, 140, 0.2 );
  border-radius: 15px 15px 15px 15px;
  height: 4px;
  left: 2px;
  margin-top: 2px;
  position: absolute;
  top: 0;
  width: 0px;
}

#butter-timeline .time-bar-scrubber-node {
  border: 2px solid #bbb;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  left: 0px;
  margin-left: -5px;
  margin-top: -2px;
  cursor: pointer;
}

#butter-timeline .time-bar-scrubber-line {
  background: rgba( 200, 0, 0,  0.7);
  position: absolute;
  top: 12px;
  left: 3px;
  width: 4px;
  height: 170px;
  cursor: pointer;
  z-index: 2140000000;
}

#butter-timeline .time-bar-canvas-container {
  position: absolute;
  left: 0px;
  top: 13px;
  height: 27px;
  overflow: hidden;
  width: 100%;
}

#butter-timeline .time-bar canvas {
  height: 27px;
}

#butter-timeline[ ui-state="hidden" ] {
  bottom: -160px;
}

#butter-timeline #toggle-button {
  height: 30px;
  width: 50px;
  background-image: url( "assets/bg.jpg" );
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: absolute;
  top: -23px;
  right: 10px;
  box-shadow: inset 0 -3px 5px #222, 1px -1px 1px #222, -1px -1px 1px #222;
  moz-box-shadow: inset 0 -3px 5px #222, 1px -1px 1px #222, -1px -1px 1px #222;
  o-box-shadow: inset 0 -3px 5px #222, 1px -1px 1px #222, -1px -1px 1px #222;
  webkit-box-shadow: inset 0 -3px 5px #222, 1px -1px 1px #222, -1px -1px 1px #222;
  z-index: -1;
}

#butter-timeline #toggle-button:hover {
  box-shadow: inset 0 -3px 5px #000, 1px -1px 1px #000, -1px -1px 1px #000;
  moz-box-shadow: inset 0 -3px 5px #000, 1px -1px 1px #000, -1px -1px 1px #000;
  o-box-shadow: inset 0 -3px 5px #000, 1px -1px 1px #000, -1px -1px 1px #000;
  webkit-box-shadow: inset 0 -3px 5px #000, 1px -1px 1px #000, -1px -1px 1px #000;
  cursor: pointer;
}

#butter-timeline #toggle-button div {
  background-image: url("assets/buttons.png");
  background-position: -255px 10px;
  width: 15px;
  height: 20px;
  background-clip: content-box;
  background-repeat: no-repeat;
  margin: 0 18px 0 18px;
}

#butter-timeline[ ui-state="hidden" ] #toggle-button div {
  background-position: -255px -7px;
}

#butter-status-bar {
  box-shadow: inset 0 1px 0 #5d5d5d;
  moz-box-shadow: inset 0 1px 0 #5d5d5d;
  o-box-shadow: inset 0 1px 0 #5d5d5d;
  webkit-box-shadow: inset 0 1px 0 #5d5d5d;
  background-image: -moz-linear-gradient( center bottom, #2c2c2c 0, #4c4c4c 100% );
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop( 0, #2c2c2c ), color-stop( 1, #4c4c4c ) );
  position: absolute;
  height: 50px;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #000;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#butter-status-bar div {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#butter-status-bar div div {
  display: none;
  border-radius: 5px;
  moz-border-radius: 5px;
  o-border-radius: 5px;
  webkit-border-radius: 5px;
  background: #111;
  float: left;
  margin: 5px 0 0 5px;
  padding: 8px 35px 5px 10px;
  position: relative;
  vertical-align: baseline;
  border-image: initial;
  float: left;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  -moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -moz-transition: max-width 0.5s;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

#butter-status-bar div div:hover {
  display: none;
  max-width: 300px;
  width: 300px;
  background: #000;
}

#butter-status-bar div div .media-url {
  display: none;
  white-space: nowrap;
  background: transparent;
  font-size: .8em;
  float:right;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  color: #ddd;
  max-width: 97%;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#butter-timeline .media-instance {
  height: 190px;
  padding: 0 150px 0 115px;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

#butter-timeline[ ui-state="hidden" ] .media-instance {
  top: 0px;
}

#butter-timeline .media-container {
  position: relative;
  top: 55px;
  padding: 0;
  margin: 0;
  height: 135px;
}

#butter-timeline .scroll-bar {
  background: #222;
  border-radius: 15px;
  position: absolute;
	box-shadow: 0 1px 0 #656565;
	moz-box-shadow: 0 1px 0 #656565;
	o-box-shadow: 0 1px 0 #656565;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#butter-timeline .scroll-handle {
  height: 8px;
  top: 1px;
  position: absolute;
  background: #777;
  border-radius: 15px;
  box-shadow: inset 0 -1px 1px #000;
  moz-box-shadow: inset 0 -1px 1px #000;
  o-box-shadow: inset 0 -1px 1px #000;
  webkit-box-shadow: inset 0 -1px 1px #000;

}

#butter-timeline .scroll-bar-v .scroll-handle {
  width: 8px;
  left: 1px;
  position: absolute;
  background: #777;
  border-radius: 15px;
  box-shadow: inset 0 -1px 1px #000;
  moz-box-shadow: inset 0 -1px 1px #000;
  o-box-shadow: inset 0 -1px 1px #000;
  webkit-box-shadow: inset 0 -1px 1px #000;

}

#butter-timeline .scroll-handle:hover {
  background: #fff;
  cursor: pointer;
}

#butter-timeline .scroll-bar-h {
  bottom: -15px;
  width: 100%;
  height: 10px;
  left: 0;
}

#butter-timeline .scroll-bar-v {
  right: -16px;
  width: 10px;
  height: 100%;
  top: 0;
}

#butter-timeline .tracks-container-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 6px #131313;
  webkit-box-shadow: inset 0 0 6px #131313;
  moz-box-shadow: inset 0 0 6px #131313;
  o-box-shadow: inset 0 0 6px #131313;
  border: 1px solid #2B2B2B;
  border-image: initial;
  border-radius: 5px;
  moz-border-radius: 5px;
  o-border-radius: 5px;
  webkit-border-radius: 5px;
}

#butter-timeline .tracks-container-wrapper .tracks-container {
  width: 100%;
  position: relative;
  background: transparent;
  font-size: 100%;
  outline: none;
  padding-top: 7px;
  padding-bottom: 7px;
}

#butter-timeline .tracks-container .butter-track-event {
  box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 );
  moz-box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 );
  o-box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 );
  webkit-box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 );
  border-radius: 5px;
  moz-border-radius: 5px;
  o-border-radius: 5px;
  webkit-border-radius: 5px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,51)), color-stop(1, rgb(140,215,90)) );
  background-image: -moz-linear-gradient( center bottom, rgb(255,255,0) 0%, rgb(200,200,0) 100% );
  font: normal 10px/25px Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  cursor: move;
  overflow: hidden;
  display: block;
  height: 27px;
  margin-top: 1px;
  line-height: 25px;
  opacity: 0.8;
  position: absolute;
}

#butter-timeline .tracks-container .butter-track {
  width: 100%;
  box-shadow: 0 1px 0 #737373, 0 1px 0 #131313 inset;
  border-radius: 6px;
  moz-border-radius: 6px;
  o-border-radius: 6px;
  webkit-border-radius: 6px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url( "assets/track-bg.png" );
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  height: 28px;
  margin-bottom: 6px;
  position: relative;
  box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 1px 1px 6px #000000, inset 1px 3px 1px rgba(0,0,0,0.4), inset 0px -1px 1px rgba(0,0,0,0.6);
  moz-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 1px 1px 6px #000000, inset 1px 3px 1px rgba(0,0,0,0.4), inset 0px -1px 1px rgba(0,0,0,0.6);
  o-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 1px 1px 6px #000000, inset 1px 3px 1px rgba(0,0,0,0.4), inset 0px -1px 1px rgba(0,0,0,0.6);
  webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141, inset 1px 1px 6px #000000, inset 1px 3px 1px rgba(0,0,0,0.4), inset 0px -1px 1px rgba(0,0,0,0.6);
}

#butter-timeline .tracks-container .butter-track-event[selected="true"] {
  box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 ),
              2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              2px -2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px -2px 2px rgba( 65, 80, 215, 0.8 );
  moz-box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 ),
              2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              2px -2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px -2px 2px rgba( 65, 80, 215, 0.8 );
  o-box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 ),
              2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              2px -2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px -2px 2px rgba( 65, 80, 215, 0.8 );
  webkit-box-shadow: inset 0 9px 0 rgba( 255, 255, 255, 0.5 ),
              2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px 2px 2px rgba( 65, 80, 215, 0.8 ),
              2px -2px 2px rgba( 65, 80, 215, 0.8 ),
              -2px -2px 2px rgba( 65, 80, 215, 0.8 );
}

#butter-timeline .tracks-container .butter-track .track-title {
  position: absolute;
  left: 5px;
  top: 50%;
}

#butter-timeline .butter-track-event .ui-resizable-handle {
  position: absolute;
  height: 100%;
  min-width: 15px;
  width: 15px;
  background-color: rgba( 255, 255, 255, 0.5 );
}

#butter-timeline .butter-track-event .ui-resizable-handle:hover {
}

#butter-timeline .butter-track-event .ui-resizable-e {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#butter-timeline .butter-track-event .ui-resizable-w {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#butter-timeline #butter-plugin {
  z-index: 2140000000;
  border-radius: 6px;
	moz-border-radius: 6px;
	o-border-radius: 6px;
	webkit-border-radius: 6px;
  font-size: 80%;
  background-image: -moz-linear-gradient(center bottom,#6E6E6E 0,#7D7D7D 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#6E6E6E),color-stop(1,#7D7D7D));
	border: 1px solid #333;
	box-shadow: 0 1px 0 #656565;
	moz-box-shadow: 0 1px 0 #656565;
	o-box-shadow: 0 1px 0 #656565;
	padding: 3px;
	position: absolute;
	right: 10px;
	top: 55px;
	height: 140px;
	webkit-box-shadow: 0 1px 0 #656565;
	width: 100px;
}

#butter-timeline .zoom-bar {
  position: absolute;
  top: 195px;
  left: 10px;
  width: 100px;
  height: 10px;
}
