body {
  margin-top: 1px;
  margin-bottom: 1px;
}

#map {
  width: 542px;
  height: 142px;
}

table#table tr td input, table#table tr td select {
  font-size: 0.9em;
  width: 180px;
}

table#table tr td label {
  font-size: 0.9em;
}

table {
  font-family: helvetica !important;
  color: #fff !important;
}

p#message {
  color: #FF0000;
}

.error {
  border: 2px inset #FF0000;
}
