body{overflow:hidden;}
.butter-player{width:98%; padding:1%; margin:10px;text-align:left;margin:0 auto;}
.butter-video {padding:10px; position:absolute; bottom: 5px; right: 5px;width:250px ;}
#video{width: 100%;}
.butter-plugin {padding: 0px 10px 10px 10px; height: 100%; margin: 5px; padding: 0px; background: none; min-height: 600px}