<!DOCTYPE html>
<html>
<head>
    <title>Basic template</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">

    <script src="https://browserid.org/include.js" type="text/javascript" data-butter-exclude></script>
    <script src="../../../src/butter.js" data-butter-exclude></script>
    <script type="text/javascript" src="template.js" data-butter-exclude></script>
</head>
<body>
  <div class="wrapper">
    <h1 data-butter="target" id="Title"></h1>
    <div id="main" data-butter="media"
      data-butter-media-controls="true"></div>
  </div>
  <div class="wrapper">
    <div class="container-div">
      <div class="content-div" data-butter="target" id="Area1"></div>
    </div>
  </div>
</body>
</html>
