
<script>
  /**
   * Our "webmaker" object can keep track of all webmaker
   * elements for the purpose of hooking into them, should
   * we need to. For instance, a timeline visualizer might
   * like to ask for "all currently known elements" that
   * have timeline information, which it can get here.
   */
  (function(global){
    var components = [];
    global.WebMaker = {
      addComponent: function addComponent(c) {
        components.push(c);
      },
      getComponentList: function getComponentList() {
        return components;
      },
      makeEditable: function makeEditable(c) {
        // Click to edit via contentEditable
        c.addEventListener("click", function(evt) {
          c.contentEditable = true;
          c.blur();
          c.focus();
        }, false);

        // Blur to end edit, and to commit the edits to not
        // just this element, but also its "real" counterpart.
        c.addEventListener("blur", function(evt) {
          var e = c;
          if(e.webmakerElement) { e = e.webmakerElement; }
          c.removeAttribute("contenteditable");
          e.innerHTML = c.innerHTML;
        }, false);
      }
    };
  }(window));
</script>


<script>
  /**
   * If we do not have Popcorn available, we try to load it.
   * While it's loading, we keep an object around that has the
   * same event API for addeding "things" to be popped, but 
   * rather than doing anything with them, it just queues them
   * until Popcorn's up and running, at which point we clear
   * the queue, processing every addition before letting the
   * real Popcorn take over.
   */
  (function(global){
    var fnCache = [];

    // load popcorn if we don't have it available already
    if(!global.Popcorn) {
      // Stub out Popcorn until it loads
      global.Popcorn = function( fn ) {
        fnCache.push( fn );      
      };
      
      // Add popcorn as a script dependency
      var popcornScript = document.createElement("script");
      popcornScript.onload = function(){
        Popcorn(function(){
          // Clear out the function cache now that Popcorn is ready
          fnCache.forEach(function(f) { f(); });
        });
      };
      popcornScript.src = "http://cdn.popcornjs.org/code/dist/popcorn-complete.js";
      document.head.appendChild(popcornScript);
    }
  }(window));
</script>

<element name="webmaker-media" attributes="href width height">
  <template>
    <div class="webmaker-media">
      <div class="media-container"></div>
      <div id="footnote" class="footnote"></div>
    </div>
  </template>

  <script>
    // A helper function we'll use to track distinct media
    // elements. All code in <element> -> <script> blocks is
    // execute once, when the element's definition is read 
    // by the browser.
    var getNextCount = (function() {
      var webmakerVideoElementCount = 0;
      return function() {
        return webmakerVideoElementCount++;
      };
    }());

    // Then, specify what should happen when an element gets built,
    // by extending its prototype with a readyCallback function.
    this.register({
      prototype: {
        readyCallback: function() {
          
          if ( !window.pop ) {
            window.pop = Popcorn.smart( this.attributes.getNamedItem( "target" ).nodeValue, this.attributes.getNamedItem( "href" ).nodeValue );
          } else {
            var trackEvents = window.pop.getTrackEvents(),
                trackEvent;

            window.pop = Popcorn.smart( this.attributes.getNamedItem( "target" ).nodeValue, this.attributes.getNamedItem( "href" ).nodeValue );

            for ( var i = 0; i < trackEvents.length; i++ ) {
              trackEvent = trackEvents[ i ];
              window.pop[ trackEvent._natives.type ]( trackEvent );
            }
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-text"
  attributes="start end transition position alignment linkUrl fontSize fontColor fontDecorations backgroundColor shadowColor fontFamily top left width target">
  <template>
    <!-- Eventually we can have actual plugin content layouts here and pass this to the plugins themselves -->
    <p><content></content></p>
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var text = this.innerHTML,
              defaultDecorations = { bold: false, italics: false },
              start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              fontSize = this.attributes.getNamedItem( "fontSize" ) ? this.attributes.getNamedItem( "fontSize" ).nodeValue : 4,
              top = this.attributes.getNamedItem( "top" ) ? this.attributes.getNamedItem( "top" ).nodeValue : 0,
              left = this.attributes.getNamedItem( "left" ) ? this.attributes.getNamedItem( "left" ).nodeValue : 0,
              zindex = this.attributes.getNamedItem( "zindex" ) ? this.attributes.getNamedItem( "zindex" ).nodeValue : 1000,
              fontFamily =  this.attributes.getNamedItem( "fontFamily" ) ? this.attributes.getNamedItem( "fontFamily" ).nodeValue: "Vollkorn",
              fontColor = this.attributes.getNamedItem( "fontColor" ) ? this.attributes.getNamedItem( "fontColor" ).nodeValue : "#000000",
              position = this.attributes.getNamedItem( "position" ) ? this.attributes.getNamedItem( "position" ).nodeValue : "middle",
              alignment = this.attributes.getNamedItem( "alignment" ) ? this.attributes.getNamedItem( "alignment" ).nodeValue : "center",
              shadowColor = this.attributes.getNamedItem( "shadowColor" ) ? this.attributes.getNamedItem( "shadowColor" ).nodeValue : "",
              backgroundColor = this.attributes.getNamedItem( "backgroundColor" ) ? this.attributes.getNamedItem( "backgroundColor" ).nodeValue : "",
              width = this.attributes.getNamedItem( "width" ) ? this.attributes.getNamedItem( "width" ).nodeValue : 50,
              transition = this.attributes.getNamedItem( "transition" ) ? this.attributes.getNamedItem( "transition" ).nodeValue : "popcorn-fade",
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : window.pop.media.parentNode,
              linkUrl = this.attributes.getNamedItem( "linkUrl" ) ? this.attributes.getNamedItem( "linkUrl" ).nodeValue : "",
              fontDecorations = this.attributes.getNamedItem( "fontDecorations" ) ? this.attributes.getNamedItem( "fontDecorations" ).nodeValue : "";

          if ( fontDecorations ) {
            var decorations = fontDecorations.split( " " );

            fontDecorations = {};

            for ( var i = 0; i < decorations.length; i++ ) {
              fontDecorations[ decorations[ i ] ] = true;
            }

          } else {
            fontDecorations = defaultDecorations;
          }

          // Ensure there is a popcorn instance.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.text({
              start: start,
              end: end,
              text: text,
              fontSize: fontSize,
              target: target,
              top: top,
              left: left,
              zindex: zindex,
              fontFamily: fontFamily,
              fontColor: fontColor,
              position: position,
              alignment: alignment,
              backgroundColor: backgroundColor,
              background: backgroundColor ? true : false,
              shadow: shadowColor ? true : false,
              shadowColor: shadowColor,
              linkUrl: linkUrl,
              fontDecorations: fontDecorations
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-image"
  attributes="start end src transition left top height width count photosetId tags linkSrc zindex target">
  <!-- Eventually we can have actual plugin content layouts here and pass this to the plugins themselves -->
  <template>
    <img src="">
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              src = this.attributes.getNamedItem( "src" ) ? this.attributes.getNamedItem( "src" ).nodeValue : "",
              top = this.attributes.getNamedItem( "top" ) ? this.attributes.getNamedItem( "top" ).nodeValue : 0,
              left = this.attributes.getNamedItem( "left" ) ? this.attributes.getNamedItem( "left" ).nodeValue : 0,
              zindex = this.attributes.getNamedItem( "zindex" ) ? this.attributes.getNamedItem( "zindex" ).nodeValue : 1000,
              linkSrc = this.attributes.getNamedItem( "linkSrc" ) ? this.attributes.getNamedItem( "linkSrc" ).nodeValue : "",
              tags = this.attributes.getNamedItem( "tags" ) ? this.attributes.getNamedItem( "tags" ).nodeValue : "",
              photosetId = this.attributes.getNamedItem( "photosetId" ) ? this.attributes.getNamedItem( "photosetId" ).nodeValue : "",
              count = this.attributes.getNamedItem( "count" ) ? this.attributes.getNamedItem( "count" ).nodeValue : 3,
              height = this.attributes.getNamedItem( "height" ) ? this.attributes.getNamedItem( "height" ).nodeValue : 100,
              width = this.attributes.getNamedItem( "width" ) ? this.attributes.getNamedItem( "width" ).nodeValue : 100,
              transition = this.attributes.getNamedItem( "transition" ) ? this.attributes.getNamedItem( "transition" ).nodeValue : "popcorn-fade",
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : window.pop.media.parentNode;

          // Ensure there is a popcorn instance.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.image({
              start: start,
              end: end,
              src: src,
              top: top,
              left: left,
              height: height,
              width: width,
              zindex: zindex,
              linkSrc: linkSrc,
              tags: tags,
              photosetId: photosetId,
              count: count,
              transition: transition,
              target: target
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-wikipedia"
  attributes="start end transition zindex top left width height target src lang">

  <template>
    <content></content>
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              top = this.attributes.getNamedItem( "top" ) ? this.attributes.getNamedItem( "top" ).nodeValue : 25,
              left = this.attributes.getNamedItem( "left" ) ? this.attributes.getNamedItem( "left" ).nodeValue : 30,
              zindex = this.attributes.getNamedItem( "zindex" ) ? this.attributes.getNamedItem( "zindex" ).nodeValue : 1000,
              height = this.attributes.getNamedItem( "height" ) ? this.attributes.getNamedItem( "height" ).nodeValue : 50,
              width = this.attributes.getNamedItem( "width" ) ? this.attributes.getNamedItem( "width" ).nodeValue : 40,
              transition = this.attributes.getNamedItem( "transition" ) ? this.attributes.getNamedItem( "transition" ).nodeValue : "popcorn-fade",
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : window.pop.media.parentNode,
              lang = this.attributes.getNamedItem( "lang" ) ? this.attributes.getNamedItem( "lang" ).nodeValue : "en",
              src = this.attributes.getNamedItem( "src" ) ? this.attributes.getNamedItem( "src" ).nodeValue : "Popcorn.js";

          // Ensure there is a popcorn instance.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.wikipedia({
              start: start,
              end: end,
              top: top,
              left: left,
              height: height,
              width: width,
              zindex: zindex,
              transition: transition,
              target: target,
              src: src,
              lang: lang
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-twitter"
  attributes="start end transition zindex left width target layout numberOfTweets searchType search username">

  <template>
    <content></content>
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              left = this.attributes.getNamedItem( "left" ) ? this.attributes.getNamedItem( "left" ).nodeValue : 0,
              zindex = this.attributes.getNamedItem( "zindex" ) ? this.attributes.getNamedItem( "zindex" ).nodeValue : 1000,
              width = this.attributes.getNamedItem( "width" ) ? this.attributes.getNamedItem( "width" ).nodeValue : 35,
              transition = this.attributes.getNamedItem( "transition" ) ? this.attributes.getNamedItem( "transition" ).nodeValue : "popcorn-fade",
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : window.pop.media.parentNode,
              layout = this.attributes.getNamedItem( "layout" ) ? this.attributes.getNamedItem( "layout" ).nodeValue : "feed",
              numberOfTweets = this.attributes.getNamedItem( "numberOfTweets" ) ? this.attributes.getNamedItem( "numberOfTweets" ).nodeValue : 10,
              searchType = this.attributes.getNamedItem( "searchType" ) ? this.attributes.getNamedItem( "searchType" ).nodeValue : "mixed",
              search = this.attributes.getNamedItem( "search" ) ? this.attributes.getNamedItem( "search" ).nodeValue : "",
              username = this.attributes.getNamedItem( "username" ) ? this.attributes.getNamedItem( "username" ).nodeValue : "";

          // Ensure there is a popcorn instance.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.twitter({
              start: start,
              end: end,
              left: left,
              width: width,
              zindex: zindex,
              transition: transition,
              target: target,
              layout: layout,
              numberOfTweets: numberOfTweets,
              search: search,
              searchType: searchType,
              username: username
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-pause"
  attributes="start end target duration">

  <template>
    <content></content>
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : window.pop.media.parentNode,
              duration = this.attributes.getNamedItem( "duration" ) ? this.attributes.getNamedItem( "duration" ).nodeValue : 0;

          // Ensure there is a popcorn instance.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.pausePlugin({
              start: start,
              end: end,
              duration: duration,
              target: target
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-skip"
  attributes="start end target">

  <template>
    <content></content>
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : window.pop.media.parentNode;

          // Ensure there is a popcorn instance.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.skip({
              start: start,
              end: end,
              target: target
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>

<element name="webmaker-googlemap"
  attributes="start end location width height lat lng top left zoom pitch heading fullscreen type transition zindex target">
  <template>
    <content></content>
  </template>

  <script>
    // our element template:
    var template = this.querySelector( "template" );

    // our "what to do when this element is built" code:
    this.register({
      prototype: {
        readyCallback: function() {
          var start = this.attributes.getNamedItem( "start" ) ? this.attributes.getNamedItem( "start" ).nodeValue : 0,
              end = this.attributes.getNamedItem( "end" ) ? this.attributes.getNamedItem( "end" ).nodeValue : 5,
              top = this.attributes.getNamedItem( "top" ) ? this.attributes.getNamedItem( "top" ).nodeValue : 15,
              left = this.attributes.getNamedItem( "left" ) ? this.attributes.getNamedItem( "left" ).nodeValue : 15,
              zindex = this.attributes.getNamedItem( "zindex" ) ? this.attributes.getNamedItem( "zindex" ).nodeValue : 1000,
              height = this.attributes.getNamedItem( "height" ) ? this.attributes.getNamedItem( "height" ).nodeValue : 70,
              width = this.attributes.getNamedItem( "width" ) ? this.attributes.getNamedItem( "width" ).nodeValue : 70,
              transition = this.attributes.getNamedItem( "transition" ) ? this.attributes.getNamedItem( "transition" ).nodeValue : "popcorn-fade",
              target = this.attributes.getNamedItem( "target" ) ? this.attributes.getNamedItem( "target" ).nodeValue : "video-container",
              location = this.attributes.getNamedItem( "location" ) ? this.attributes.getNamedItem( "location" ).nodeValue : "",
              lat = this.attributes.getNamedItem( "lat" ) ? this.attributes.getNamedItem( "lat" ).nodeValue : "",
              lng = this.attributes.getNamedItem( "lng" ) ? this.attributes.getNamedItem( "lng" ).nodeValue : "",
              fullscreen = this.attributes.getNamedItem( "fullscreen" ) ? this.attributes.getNamedItem( "fullscreen" ).nodeValue : false,
              zoom = this.attributes.getNamedItem( "zoom" ) ? this.attributes.getNamedItem( "zoom" ).nodeValue : 10,
              pitch = this.attributes.getNamedItem( "pitch" ) ? this.attributes.getNamedItem( "pitch" ).nodeValue : 0,
              heading = this.attributes.getNamedItem( "heading" ) ? this.attributes.getNamedItem( "heading" ).nodeValue : 0,
              type = this.attributes.getNamedItem( "type" ) ? this.attributes.getNamedItem( "type" ).nodeValue : "ROADMAP";

          // If there is a media element, we link ourselves to it.
          if ( window.pop ) {
            this.innerHTML = "";

            window.pop.googlemap({
              start: start,
              end: end,
              top: top,
              left: left,
              height: height,
              width: width,
              zindex: zindex,
              transition: transition,
              target: target,
              location: location,
              lat: lat,
              lng: lng,
              fullscreen: fullscreen,
              zoom: zoom,
              pitch: pitch,
              heading: heading,
              type: type
            });

          } else {
            // Code for just using default elements.
          }
        }
      }
    });
  </script>
</element>
