body {
  font-family:sans-serif;
  margin:0px;
  background-color:#BF413B;
  background-image : -moz-radial-gradient(top, #E9726D, #BF413B);
  background-image : -webkit-gradient(radial, center center, 10, center center, 600, from(#FF9F99), to(#BF413B), color-stop(0%, #FF9F99));
  height: 600px;
}
.butter-video {
  min-height: 800px;
  background-color: #CC433C;
  background-image: -moz-linear-gradient(top, #FF9F99, #BF413B);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #FF9F99),color-stop(1, #BF413B));
  -webkit-box-shadow: 0px 0px 4px #98322D ;
  -moz-box-shadow: 0px 0px 4px #98322D ;
  box-shadow: 0px 0px 4px #98322D ;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#videoTitle {
  margin: 0px 0px -7px 0px;
}
#videoDescription {}
.butter-plugin {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;  
  -webkit-box-shadow: 1px 1px 14px #98322D inset;
}
#iframe-container {background:#FFD6D9 url('img/logo_iframe.png') no-repeat center 10px;}
#iframe-container iframe {border: none;}
#map-container {background:#FFD6D9 url('img/logo_maps.gif') no-repeat center 10px;}
#footnote-container {background:#FFD6D9 url('img/logo_footnote.png') no-repeat center 10px;}


