html, body {
	height: 90%;
	width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    color: #fff;
    font-size: 12px;
}
@font-face {
  font-family: 'BebasRegular';
  src: url('../src/ui/fonts/BEBAS___-webfont.eot');
  src: url('../src/ui/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../src/ui/fonts/BEBAS___-webfont.woff') format('woff'),
       url('../src/ui/fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../src/ui/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
@font-face {
   font-family: 'MetaBold';
   src: url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.eot');
   src: local('☺'), url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.woff') format('woff');
   font-weight: bold;
}
h1 {
  font-family: 'MetaBold';
  color: #fff;
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 10px;
}
p {
  font-family: 'Verdana';
  color: #fff;
  font-size: 12px;
}
button, a.button {
  font-family: 'BebasRegular';
  font-size: 22px;
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
button:hover, a.button:hover {
}
#close {
 width: 300px;
 background-image: -moz-linear-gradient(center bottom,#667 0,#D3D3D3 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#D3D3D3));
 }
#close:hover {
 background-image: -moz-linear-gradient(center bottom,#667 0,#DFDFDF 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#666));
 }
#published-url:hover {
  background-color: #FCFCFC;
 }
 #published-url {
  background-color: white;
  overflow: hidden;
  font-family: Verdana;
  font-size: 14px;
  color: #000;
  width: 300px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin: 0px auto;
 }
#published-url a {
  color: steelblue;
  font-family: Courier;
  font-size: 14px;
  text-decoration: none;
 }
 .share_instruction {
 padding: 10px 10px 10px 10px;
 }
#publish {
  width: 300px;
  background: #D1BE70;
  background: -moz-linear-gradient(top, #26B5D8 0%, #2B86D4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26B5D8), color-stop(100%,#2B86D4));
  background: -webkit-linear-gradient(top, #26B5D8 0%,#2B86D4 100%);
  background: -o-linear-gradient(top, #26B5D8 0%,#2B86D4 100%);
  background: -ms-linear-gradient(top, #26B5D8 0%,#2B86D4 100%);
  background: linear-gradient(top, #2B86D4);
  margin-bottom: 10px;
 }
#publish:hover {
  background: #D1BE70;
  background: -moz-linear-gradient(top, #26B5D8 0%, #29B4D6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1BE70), color-stop(100%,#29B4D6));
  background: -webkit-linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
  background: -o-linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
  background: -ms-linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
  background: linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
 }
#unpublish {
 width: 300px;
 background-image: -moz-linear-gradient(center bottom,#667 0,#D3D3D3 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#D3D3D3));
 margin-bottom: 10px;
 }
#unpublish:hover {
 background-image: -moz-linear-gradient(center bottom,#667 0,#DFDFDF 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#666));
 }
#get-html {
 width: 145px;
 background-image: -moz-linear-gradient(center bottom,#667 0,#D3D3D3 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#D3D3D3));
 margin-right: 5px;
 }
#get-html:hover {
 background-image: -moz-linear-gradient(center bottom,#667 0,#DFDFDF 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#666));
 }
 #get-json {
 width: 145px;
 background-image: -moz-linear-gradient(center bottom,#667 0,#D3D3D3 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#D3D3D3));
 }
#get-json:hover {
 background-image: -moz-linear-gradient(center bottom,#667 0,#DFDFDF 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#666));
 }
#no {
 background-image: -moz-linear-gradient(center bottom,#667 0,#D3D3D3 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#D3D3D3));
 }
#no:hover {
 background-image: -moz-linear-gradient(center bottom,#667 0,#DFDFDF 100%);
 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#667),color-stop(1,#666));
 }
#yes {
  background: #D1BE70;
  background: -moz-linear-gradient(top, #D1BE70 0%, #A08546 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1BE70), color-stop(100%,#A08546));
  background: -webkit-linear-gradient(top, #D1BE70 0%,#A08546 100%);
  background: -o-linear-gradient(top, #D1BE70 0%,#A08546 100%);
  background: -ms-linear-gradient(top, #D1BE70 0%,#A08546 100%);
  background: linear-gradient(top, #D1BE70);
  box-shadow: none;
}
#yes:hover {
  background: #D1BE70;
  background: -moz-linear-gradient(top, #D1BE70 0%, #AD9B4C 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1BE70), color-stop(100%,#AD9B4C));
  background: -webkit-linear-gradient(top, #D1BE70 0%,#AD9B4C 100%);
  background: -o-linear-gradient(top, #D1BE70 0%,#AD9B4C 100%);
  background: -ms-linear-gradient(top, #D1BE70 0%,#AD9B4C 100%);
  background: linear-gradient(top, #D1BE70 0%,#AD9B4C 100%);
}
#buttons {
	margin: 0px auto;
}
#track-data {
	width: 300px;
	height: 100px;
}
#container {
}
.center {
	position: absolute;
	margin: 0px auto;
	text-align: center;
}
 img.close-x {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
 
 
 