html {
  background: #a5a5a5; /* Old browsers */
  background: -moz-linear-gradient(top,  #a5a5a5 0%, #727272 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#727272)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* IE10+ */
  background: linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 18px;
}

@font-face {
  font-family: 'BebasRegular';
  src: url('../src/ui/assets/fonts/BEBAS___-webfont.eot');
  src: url('../src/ui/assets/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../src/ui/assets/fonts/BEBAS___-webfont.woff') format('woff'),
       url('../src/ui/assets/fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../src/ui/assets/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
@font-face {
   font-family: 'MetaBold';
   src: url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.eot');
   src: local('☺'), url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.woff') format('woff');
   font-weight: bold;
}

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;

  display: box;
  box-orient: horizontal;
  box-align: stretch;
}

.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;

  display: box;
  box-orient: vertical;
  box-align: stretch;
}

#close-button {
  position: fixed;
  top: 5px;
  right: 5px;
  background-image: url( "assets/close-button.png" );
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#error {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 42px;
  height: 20px;
  text-align: center;
  color: #900;
  font: 20px Verdana;
  z-index: 0;
}

body[data-error] #error {
  display: block;
}

body[data-error] #container {
  margin-bottom: 65px;
}

.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

#container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 45px;
  -moz-transition: margin-bottom 0.5s;
  -webkit-transition: margin-bottom 0.5s;
  transition: margin-bottom 0.5s;
  z-index: 1;
}

#content {
  width: 100%;
  height: 100%;
}

#buttons {
  position: fixed;
  width: 100%;
  bottom: 2px;
  height: 35px;
  text-align: center;
}

.button-red {
  background: #c22f02; /* Old browsers */
  background: -moz-linear-gradient(top,  #c22f02 0%, #c42f02 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c22f02), color-stop(100%,#c42f02)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c22f02 0%,#c42f02 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c22f02 0%,#c42f02 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c22f02 0%,#c42f02 100%); /* IE10+ */
  background: linear-gradient(top,  #c22f02 0%,#c42f02 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c22f02', endColorstr='#c42f02',GradientType=0 ); /* IE6-9 */
}

.button-red:hover {
  background: #e23602; /* Old browsers */
  background: -moz-linear-gradient(top,  #e23602 0%, #e43702 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e23602), color-stop(100%,#e43702)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e23602 0%,#e43702 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e23602 0%,#e43702 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e23602 0%,#e43702 100%); /* IE10+ */
  background: linear-gradient(top,  #e23602 0%,#e43702 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e23602', endColorstr='#e43702',GradientType=0 ); /* IE6-9 */
}

.button-blue {
  background: #D1BE70;
  background: -moz-linear-gradient(top, #26B5D8 0%, #2B86D4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26B5D8), color-stop(100%,#2B86D4));
  background: -webkit-linear-gradient(top, #26B5D8 0%,#2B86D4 100%);
  background: -o-linear-gradient(top, #26B5D8 0%,#2B86D4 100%);
  background: -ms-linear-gradient(top, #26B5D8 0%,#2B86D4 100%);
  background: linear-gradient(top, #2B86D4);
  box-shadow: none;
}

.button-blue:hover {
  background: #D1BE70;
  background: -moz-linear-gradient(top, #26B5D8 0%, #29B4D6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1BE70), color-stop(100%,#29B4D6));
  background: -webkit-linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
  background: -o-linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
  background: -ms-linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
  background: linear-gradient(top, #26B5D8 0%,#29B4D6 100%);
}

.main-textarea {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  resize: none;
}

h1 {
  font: 35px 'MetaBold';
  color: #fff;
  line-height: 40px;
  height: 40px;
  width: 100%;
  text-align: center;
}

body > h1 {
  position: fixed;
  margin: 0px;
}

#content > h1{
}

button {
  margin: 0 5px 5px 5px;
  height: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  min-width: 100px;
}
