html {
  background: #a5a5a5; /* Old browsers */
  background: -moz-linear-gradient(top,  #a5a5a5 0%, #727272 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#727272)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* IE10+ */
  background: linear-gradient(top,  #a5a5a5 0%,#727272 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  border-radius: 6px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
    url('../resources/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
    url('../resources/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../resources/fonts/OpenSans-Regular.ttf') format('truetype');
}

.hbox {
  display: box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -ms-box-orient: horizontal;
  -ms-box-align: stretch;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  box-orient: horizontal;
  box-align: stretch;
}

.vbox {
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -ms-box-orient: vertical;
  -ms-box-align: stretch;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
}

#close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 20px;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: url("../resources/glyphicons-halflings.png"), -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: url("../resources/glyphicons-halflings.png"), -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: url("../resources/glyphicons-halflings.png"), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: url("../resources/glyphicons-halflings.png"), -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: url("../resources/glyphicons-halflings.png"), -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: url("../resources/glyphicons-halflings.png"), linear-gradient(top, #ffffff, #e6e6e6);
  background-position: -304px 8px, 0 0;
  background-repeat: no-repeat;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

#close-button:active,
#close-button.active,
#close-button.disabled,
#close-button[disabled],
#close-button:focus {
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

#error {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 42px;
  height: 20px;
  text-align: center;
  color: #900;
  font: 20px "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 0;
}

body[data-error] #error {
  display: block;
}

body[data-error] #container {
  margin-bottom: 65px;
}

.center {
  -webkit-box-pack: center;
  -ms-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

#container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 45px;
  -moz-transition: margin-bottom 0.5s;
  -ms-transition: margin-bottom 0.5s;
  -o-transition: margin-bottom 0.5s;
  -webkit-transition: margin-bottom 0.5s;
  transition: margin-bottom 0.5s;
  z-index: 1;
}

#content {
  width: 100%;
  height: 100%;
}

#buttons {
  position: fixed;
  width: 100%;
  bottom: 2px;
  height: 35px;
  text-align: center;
}

.butter-dialog-button {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.butter-dialog-button:hover,
.butter-dialog-button:active,
.butter-dialog-button.active,
.butter-dialog-button.disabled,
.butter-dialog-button[disabled] {
  background-color: #e6e6e6;
}
.butter-dialog-button:active,
.butter-dialog-button.active {
  background-color: #cccccc;
}
.butter-dialog-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.butter-dialog-button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.butter-dialog-button.active,
.butter-dialog-button:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.butter-dialog-button.disabled,
.butter-dialog-button[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}

.main-textarea {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  resize: none;
}

h1 {
  font: 25px "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  line-height: 40px;
  height: 40px;
  width: 100%;
  text-align: center;
}

body > h1 {
  position: fixed;
  margin: 0;
}

#content > h1{
}
