<!DOCTYPE html>
<html>
<head>
    <title>Commentary Template</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <script src="https://browserid.org/include.js" type="text/javascript" data-butter-exclude></script>
    <script src="../../src/butter.js" data-butter-exclude /></script>
    <script type="text/javascript" src="scripts.js" data-butter-exclude /></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
  <div class="container">
    <div id="video-container">
      <video id="video" data-butter="media" controls>
        <source src="../../external/popcorn-js/test/trailer.ogv"></source>
        <source src="../../external/popcorn-js/test/trailer.mp4"></source>
      </video>
      <div id="video-overlay" data-butter-target></div>
    </div>
    <div id="sidebar" data-butter-target></div>
  </div>
</body>
</html>
