/* ===== Primary Styles ========================================================
   Author: @k88hudson
   ========================================================================== */

body {
  background: #121212;
  color: #FEF49C;
  font-weight: 300;
  font-size: 14px;
  font-family: lato, "Helvetica Neue", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
}

h1, h2, h3 {
  text-transform: uppercase;
  text-shadow: 0 1px 30px rgba(254,244,156, 0.6);
  font-weight: 400;
  font-family:  Audiowide, sans-serif;
}

h3 {
  border-bottom: 1px solid #212121;
}

/*- - - Header- - -*/
header { 
  position: relative;
  margin-bottom: 20px;
  padding: 70px 0 20px 0;
  border-bottom: 1px solid #212121;
}
.logo {
  margin: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transition: all .5s ease;
}
.logo:hover {
   margin-left: 2px;
  color: #FFFFE0;
  text-shadow: 0 1px 40px rgba(217,27,91,.3),
    0 1px 40px rgba(254,244,156, 1),
    0 1px 20px rgba(254,244,156, .4);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transition: all .5s ease;

}
/* /header */

/*- - - Main - - -*/
section.video-container {
  position: relative;
  width: 100%;
  min-height: 450px;
  background: #000;
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);
}
section.video-container > video {
  width: 100%;
}
.video-overlay {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 0;
  width: 100%;
}
.upper-corner {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
}
section.suplementary {
  margin: 40px 0;
  font-weight: 400;
  line-height: 1.4;
}
.block {
  float: left;
  margin-right: 25px;
  width: 350px;
}
.block:first-child, .block:last-child {
  width: 200px;
}
.block:last-child {
  margin-right: 0;
}

section.suplementary p {
  color: #FFF;
  opacity: .2;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
}
section.suplementary p:hover {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
}
/* /main */

/*- - - Cube - - -*/
@-moz-keyframes z-spin{
    0%{ -moz-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -moz-transform: rotateX(-10deg) rotateY(-360deg); }
}
@-webkit-keyframes z-spin{
    0%{ -webkit-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -webkit-transform: rotateX(-10deg) rotateY(-360deg); }
}
@-o-keyframes z-spin{
    0%{ -o-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -o-transform: rotateX(-10deg) rotateY(-360deg); }
}
@-ms-keyframes z-spin{
    0%{ -ms-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -ms-transform: rotateX(-10deg) rotateY(-360deg); }
}
@keyframes z-spin{
    0%{ transform: rotateX(-10deg) rotateY(0deg); }
    100%{ transform: rotateX(-10deg) rotateY(-360deg); }
}

.cube-container {
  position: absolute;
  right: 0;
  bottom: -10px;
  -webkit-transform: scale(0.6,0.6);
  -webkit-perspective: 200; 
  -webkit-perspective-origin: 50% 50px;
  -moz-transform: scale(0.8,0.8);
  -moz-perspective: 200; 
  -moz-perspective-origin: 50% 50px;
  -o-transform: scale(0.8,0.8);
  -o-perspective: 200; 
  -o-perspective-origin: 50% 50px;
  -ms-transform: scale(0.8,0.8);
  -ms-perspective: 200; 
  -ms-perspective-origin: 50% 50px;
  transform: scale(0.8,0.8);
  perspective: 200; 
  perspective-origin: 50% 50px;
  z-index: 1000;
}

.cube {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-transition: -webkit-transform 50ms linear;
  -webkit-transform: rotateX(-10deg) rotateY(20deg);
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: z-spin;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transform: rotateX(-10deg) rotateY(20deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(-10deg) rotateY(-200deg);

  -o-transition: transform 50ms linear;
  -o-transform: rotateX(-10deg) rotateY(20deg);
  -o-transform-style: preserve-3d;
  -o-animation-name: z-spin;
  -o-animation-duration: 25s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

  -ms-transition: -ms-transform 50ms linear;
  -ms-transform: rotateX(-10deg) rotateY(20deg);
  -ms-transform-style: preserve-3d;
  -ms-animation-name: z-spin;
  -ms-animation-duration: 25s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  transition: transform 50ms linear;
  transform: rotateX(-10deg) rotateY(20deg);
  transform-style: preserve-3d;
  animation-name: z-spin;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cube h2 {
  margin-top: 0;
  padding-top: 0;
  color: #fff;
}

.cube a {
  color: #fff;
}

.cube > div {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0.71) 61%, rgba(255,255,255,0.8) 76%, rgba(255,255,255,0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(25%,rgba(255,255,255,0.5)), color-stop(61%,rgba(255,255,255,0.71)), color-stop(76%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.2)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.71) 61%,rgba(255,255,255,0.8) 76%,rgba(255,255,255,0.2) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.71) 61%,rgba(255,255,255,0.8) 76%,rgba(255,255,255,0.2) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.71) 61%,rgba(255,255,255,0.8) 76%,rgba(255,255,255,0.2) 100%);
  background: linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.71) 61%,rgba(255,255,255,0.8) 76%,rgba(255,255,255,0.2) 100%);
  color: #121212;
  font-size: 1em;
  line-height: 1em;
}   

.cube > div > div {
  display: table;
  width: 100%;
  height: 100%;
}
.cube > div:nth-child(1) {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);
}

.cube > div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
  -o-transform: rotateY(90deg) translateZ(50px);
  -ms-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px);
}

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  -moz-transform: rotateY(180deg) translateZ(50px);
  -o-transform: rotateY(180deg) translateZ(50px);
  -ms-transform: rotateY(180deg) translateZ(50px);
  transform: rotateY(180deg) translateZ(50px);
}

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateZ(50px);
  -o-transform: rotateY(-90deg) translateZ(50px);
  -ms-transform: rotateY(-90deg) translateZ(50px);
  transform: rotateY(-90deg) translateZ(50px);
}
.cube > div.cube-top {
  display: block;
  -webkit-transform: rotateX(90deg) translateZ(50px);
  -moz-transform: rotateX(90deg) translateZ(50px);
  -o-transform: rotateX(90deg) translateZ(50px);
  -ms-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}
.cube > div.cube-bottom {
  display: block;
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}

.cube > div.cube-shadow {
  display: block;
  background: #222;
  background: rgba(0,0,0,.8);
  box-shadow: 0 0 20px 10px rgba(0,0,0,.8);
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
}

.cube div h2{
  display: table-cell;
  color: #121212;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
}

/*- - - Footer - - -*/
footer {
  padding: 20px 0 40px 0;
  border-top: 1px solid #212121;
}
/* /footer */
