/* ===== Primary Styles ========================================================
   Author: @k88hudson
   ========================================================================== */
::-moz-selection { background: rgba(0,0,0,.2); text-shadow: none; }
::selection { background: rgba(0,0,0,.2); text-shadow: none; }
html {
  background: rgb(18,18,20);
  background: -moz-linear-gradient(top,  rgba(18,18,20,1) 0%, rgba(59,59,63,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,18,20,1)), color-stop(100%,rgba(59,59,63,1)));
  background: -webkit-linear-gradient(top,  rgba(18,18,20,1) 0%,rgba(59,59,63,1) 100%);
  background: -o-linear-gradient(top,  rgba(18,18,20,1) 0%,rgba(59,59,63,1) 100%);
  background: -ms-linear-gradient(top,  rgba(18,18,20,1) 0%,rgba(59,59,63,1) 100%);
  background: linear-gradient(top,  rgba(18,18,20,1) 0%,rgba(59,59,63,1) 100%);
  height: 100%;
 }

body {
  color: #FFF;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#bg-cubes {
  background: url(../img/background-scroll.png) center 5% no-repeat;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

a,
a:visited {
  color: #79051F;
}

.wrapper {
  margin: 30px auto;
  width: 800px;
}

h2 {
  font-family: "quatro-slab", Georgia, sans-serif;
  color: #FFF;
}

h3 {
  border-bottom: 1px solid #FFF;
}

h5 {
  font-family: "proxima-nova",  Georgia, sans-serif;
}


/*- - - Main - - -*/
section.video-container {
  position: relative;
  width: 100%;
  background: #000;
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);
}

#video {
  width: 100%;
}

#video > video {
  width: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 0;
  width: 100%;
}
.upper-corner {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 320px;
  height: 200px;
}


/*- - - Cube - - -*/
@-moz-keyframes z-spin{
    0%{ -moz-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -moz-transform: rotateX(-10deg) rotateY(-360deg); }
}
@-webkit-keyframes z-spin{
    0%{ -webkit-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -webkit-transform: rotateX(-10deg) rotateY(-360deg); }
}
@-o-keyframes z-spin{
    0%{ -o-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -o-transform: rotateX(-10deg) rotateY(-360deg); }
}
@-ms-keyframes z-spin{
    0%{ -ms-transform: rotateX(-10deg) rotateY(0deg); }
    100%{ -ms-transform: rotateX(-10deg) rotateY(-360deg); }
}
@keyframes z-spin{
    0%{ transform: rotateX(-10deg) rotateY(0deg); }
    100%{ transform: rotateX(-10deg) rotateY(-360deg); }
}

@-moz-keyframes wavesfast {
  0% {background-position: 0 0;}
  90% {background-position: 0 0;}
  100% {background-position: 0 800px;}
}

@-moz-keyframes weathericon {
  0% {background-position: 0 0;}
  100% {background-position: 800px 0;}
}

.logo-alt {
  position: absolute;
  right: -55px;
  bottom: 50px;
  height: 100px;
  width: 200px;
  overflow: hidden;
  color: #121212;
  border: 2px solid rgba(255,255,255, .5);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 1;
  border-radius: 10px;
  background: rgb(167,167,167);
  background: -moz-linear-gradient(-45deg,  rgba(167,167,167,1) 0%, rgba(224,224,224,1) 55%, rgba(244,244,244,1) 59%, rgba(167,167,167,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(55%,rgba(224,224,224,1)), color-stop(59%,rgba(244,244,244,1)), color-stop(100%,rgba(167,167,167,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(167,167,167,1) 0%,rgba(224,224,224,1) 55%,rgba(244,244,244,1) 59%,rgba(167,167,167,1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(167,167,167,1) 0%,rgba(224,224,224,1) 55%,rgba(244,244,244,1) 59%,rgba(167,167,167,1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(167,167,167,1) 0%,rgba(224,224,224,1) 55%,rgba(244,244,244,1) 59%,rgba(167,167,167,1) 100%);
  background: linear-gradient(-45deg,  rgba(167,167,167,1) 0%,rgba(224,224,224,1) 55%,rgba(244,244,244,1) 59%,rgba(167,167,167,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#a7a7a7',GradientType=1 );
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);

}

.logo-alt:hover {
  opacity:1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  right: -30px;
}

.logo-inner {
  position: absolute;
  top: 2px;
  width: 100px;
  margin-top: 10px;
}
.logo-alt h2,
.logo-alt p {
  text-shadow: 0 1px #FFF;
  margin: 0;
  text-align: center;
}

.logo-alt p {
  font-size: 1.2em;
  top: 30px;
}

.logo-alt a,
.logo-alt a:visited {
   color: #121212;
   text-decoration: none;
}

.logo-shine {
  width: 800px;
  height: 800px;
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,0.8) 45%, rgba(255,255,255,0) 50%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(37%,rgba(255,255,255,0)), color-stop(45%,rgba(255,255,255,0.8)), color-stop(50%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 50%);
  background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 50%);
  background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 50%);
  background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 37%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  position:relative;
  left: -200px;
  -moz-animation: wavesfast 10s ease-in infinite;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 115px;
  background: url(../img/weather/wsprite0001-sunny.png) 0 0 no-repeat;
  width: 64px;
  height: 64px;
  float: left;
  margin: 8px 40px 120px 0;
}

.cube-container {
  position: absolute;
  right: -10px;
  bottom: -20px;
  -webkit-transform: scale(0.8,0.8);
  -webkit-perspective: 200; 
  -webkit-perspective-origin: 50% 50px;
  -moz-transform: scale(0.8,0.8);
  -moz-perspective: 200px; 
  -moz-perspective-origin: 50% 50px;
  -o-transform: scale(0.8,0.8);
  -o-perspective: 200; 
  -o-perspective-origin: 50% 50px;
  -ms-transform: scale(0.8,0.8);
  -ms-perspective: 200; 
  -ms-perspective-origin: 50% 50px;
  transform: scale(0.8,0.8);
  perspective: 200; 
  perspective-origin: 50% 50px;
  z-index: 1000;
}

.cube {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-transition: -webkit-transform 50ms linear;
  -webkit-transform: rotateX(-10deg) rotateY(20deg);
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: z-spin;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transform: rotateX(-10deg) rotateY(20deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(-10deg) rotateY(-200deg);

  -o-transition: transform 50ms linear;
  -o-transform: rotateX(-10deg) rotateY(20deg);
  -o-transform-style: preserve-3d;
  -o-animation-name: z-spin;
  -o-animation-duration: 25s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

  -ms-transition: -ms-transform 50ms linear;
  -ms-transform: rotateX(-10deg) rotateY(20deg);
  -ms-transform-style: preserve-3d;
  -ms-animation-name: z-spin;
  -ms-animation-duration: 25s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  transition: transform 50ms linear;
  transform: rotateX(-10deg) rotateY(20deg);
  transform-style: preserve-3d;
  animation-name: z-spin;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.cube:hover {
  -moz-animation-name: z-spin;
  -moz-animation-duration: 25s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cube h2 {
  margin-top: 0;
  padding-top: 0;
  color: #fff;
  text-transform: uppercase;
}

.cube a {
  color: #71031B;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


.cube:hover a {
  color: #F65D00;
  text-shadow: 0 1px 10px #FE6A00;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.cube > div {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background: rgba(255,255,255,.7)
}   


.cube > div > div {
  display: table;
  width: 100%;
  height: 100%;
}
.cube > div:nth-child(1) {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);
}

.cube > div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
  -o-transform: rotateY(90deg) translateZ(50px);
  -ms-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px);
}

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  -moz-transform: rotateY(180deg) translateZ(50px);
  -o-transform: rotateY(180deg) translateZ(50px);
  -ms-transform: rotateY(180deg) translateZ(50px);
  transform: rotateY(180deg) translateZ(50px);
}

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateZ(50px);
  -o-transform: rotateY(-90deg) translateZ(50px);
  -ms-transform: rotateY(-90deg) translateZ(50px);
  transform: rotateY(-90deg) translateZ(50px);
}
.cube > div.cube-top {
  display: block;
  -webkit-transform: rotateX(90deg) translateZ(50px);
  -moz-transform: rotateX(90deg) translateZ(50px);
  -o-transform: rotateX(90deg) translateZ(50px);
  -ms-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}
.cube > div.cube-bottom {
  display: block;
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}

.cube > div.cube-shadow {
  display: block;
  background: #222;
  background: rgba(0,0,0,.8);
  box-shadow: 0 0 20px 10px rgba(0,0,0,.8);
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(70px);
}

.cube div h2{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  font-weight: 800;
  color: #FF374C;
  font-size: 3em;
  letter-spacing: -0.08em;
  text-shadow: none;
}

/*- - - Footer - - -*/
footer {
  padding: 20px 0 40px 0;
  border-top: 1px solid #212121;
}
/* /footer */

.popcorn-titles {
  font-family: "quatro-slab", georgia;
  color: #444;
  position: relative;
  font-size: 13px;
  padding-bottom: 30px;
}

.popcorn-titles > div {
  background: #FFF;
  padding: 30px 20px 10px 20px;
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);
}

.popcorn-titles h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.popcorn-titles:after {
  content: "";
  background: transparent url(../img/tornpaper.png) repeat-x;
  display: block;
  height: 37px;
  position: relative;
  top: -10px;
}

.title-card .text-container > div > h2 {
  font-weight: 400;
}

.title-card .text-container > div > h5 { 
  background: #FFF;
  background: -moz-linear-gradient(-45deg,  rgba(188,188,188,1) 0%, rgba(221,221,221,1) 16%, rgba(236,236,236,1) 53%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(16%,rgba(221,221,221,1)), color-stop(53%,rgba(236,236,236,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(-45deg,  rgba(188,188,188,1) 0%,rgba(221,221,221,1) 16%,rgba(236,236,236,1) 53%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(-45deg,  rgba(188,188,188,1) 0%,rgba(221,221,221,1) 16%,rgba(236,236,236,1) 53%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(188,188,188,1) 0%,rgba(221,221,221,1) 16%,rgba(236,236,236,1) 53%,rgba(255,255,255,0) 100%);
  background: linear-gradient(-45deg,  rgba(188,188,188,1) 0%,rgba(221,221,221,1) 16%,rgba(236,236,236,1) 53%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#00ffffff',GradientType=1 );
  color: #121212;
  text-shadow: 0 1px #FFF;
  position: relative;
  left: 10px;
  padding-left: 30px;
  padding-right: 180px;
  font-size: 14px;
  font-weight: 300;
}

.title-card .text-container > div > h5:before {
  content: "";
}

#weather-icon {
  width: 64px;
  height: 64px;
}
