<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Popcorn.js Pop!</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="../shared/css/normalise.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://browserid.org/include.js" type="text/javascript" data-butter-exclude></script>
  <script src="../../../src/butter.js" data-butter-exclude></script>
  <script type="text/javascript" src="template.js" data-butter-exclude></script>
</head>
<body>
    <div id="video-container" class="video-js-box">
        <video id="video" preload class="video-js" data-butter="media" controls>
            <source src="http://videos-cdn.mozilla.net/serv/webmademovies/makecorn.mp4">
            <source src="http://videos-cdn.mozilla.net/serv/webmademovies/makecorn.ogv">
            <source src="http://videos-cdn.mozilla.net/serv/webmademovies/makecorn.webm">
        </video>
        <div id="pop-container" data-butter="target"></div>
    </div>
</body>
<!--

Sound credits:
Pop #1 "MouthPop.wav"
Credit: Herbert Boland
URL: http://www.freesound.org/people/HerbertBoland/sounds/33369/
CC: By

Record Scratch #1 - "scratch23.wav"
Credit: JaZzy JunGgle
URL: http://www.freesound.org/people/junggle/sounds/29942/
CC:  Sample + By

Video Game Blip #1 - "bump.wav"
Credit: StaneStane
http://www.freesound.org/people/StaneStane/sounds/73562/
CC: By

Video Game Death #1 - "tape_slow9.wav"
Credit: zerolagtime
URL: http://www.freesound.org/people/zerolagtime/sounds/49246/
CC: By

-->
</html>
