<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Popcorn-Maker: Context</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="../shared/css/normalise.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://browserid.org/include.js" type="text/javascript" data-butter-exclude></script>
  <script src="../../../src/butter.js" data-butter-exclude></script>
  <script type="text/javascript" src="context.js" data-butter-exclude></script>
</head>
<body>
  <section id="wrapper">
    <header>
      <div id="title"><a href="http://www.rebelliouspixels.com">Title</a></div>
      <div id="about">
        <div id="text">Lorem ipsum</div>
        <div id="logo"></div>
      </div>
    </header>

    <!-- Start Left Column -->
    <div id="leftcontent">
        <div id="videobox" data-butter="media"
          data-butter-media-controls="true"></div>
        <aside id="sources">
          <div class="content" id="Box1" data-butter="target"><div class="overlay"></div><div class="inactive"></div></div>
        </aside>
    </div>

    <!-- Start Right Column -->
    <div id="rightcontent">
      <aside class="sources">
        <div class="content" id="Box2" data-butter="target">
          <div class="overlay"></div>
          <div class="inactive"></div>
        </div>
      </aside>
      <aside class="sources">
        <div class="content" id="Box3" data-butter="target">
          <div class="overlay"></div>
          <div class="inactive"></div>
        </div>
      </aside>
      <aside class="sources">
        <div class="content" id="Box4" data-butter="target"></div>
      </aside>
    </div>

    <footer>Made with <a href="http://mozillapopcorn.org">Mozilla Popcorn</a></footer>
  </section>
</body>
</html>


