html {
  height: 100%;
}

body {
  margin-top: 50px;
  padding: 0;
  height: 100%;
  font-size: 15px;
  font-family: Helvetica, Arial, "Lucida Grande";
  line-height: 1;
}

header, footer, article, section, aside, footer {
  display: block;
}

a {
  color: #cc433d;
  text-decoration: none;
}

a:hover{
  color: #f27c77;
}

h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

#wrapper {
  margin: 0 auto;
  width: 895px;
}

#title {
  float: left;
  padding: 15px 0 15px 0;
  width: 330px;
  border: 1px solid #c6c6c6;
  box-shadow:  -1px 1px 1px #d9d9d9;
}

#title a {
  margin-left: 75px;
  color: #2788d3;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial,sans-serif;
}

#title a:hover{
  color: #5c6a98;
}
  
#about {
  float: right;
  width: 550px;
  height: 60px;
  border: 1px solid #c6c6c6;
  background: #FFF;
  box-shadow:  -1px 1px 1px #d9d9d9;
}

#text {
  float:left;
  margin: 15px 0 0 17px;
  width: 492px;
  font-size: 14px;
  line-height: 16px;
}

#logo {
  float: right;
  margin: 10px 8px 0 0;
}

#leftcontent {
  float: left;
  clear: both;
  margin-bottom: 5px;
  width: 540px;
}

#rightcontent {
  float: right;
  width: 340px;
}

#Box2 {
  width: 320px;
  min-height: 70px;
  font-size:18px;
  line-height: 22px;
}

#Box3 {
  width: 320px;
  min-height: 70px;
  font-size:18px;
  line-height: 22px;
}

#Box4 {
  width: 300px;
  min-height: 145px;
}


#Box4 a {
  font-size:18px;
  line-height: 30px;

}

#Box1 {
  width: 520px;
  min-height: 50px;
}


#video {
  width: 540px;
  min-height: 360px;
}

aside {
  position: relative;
  margin-top: 14px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #c6c6c6;
  background: #FFF;
  box-shadow: -1px 1px 1px #d9d9d9;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9001;
  display: none;
  width: 100%;
  height: 100%;
  background: red;
  opacity: 0.2;
}

.inactive{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9001;
  display: none;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

aside .content{
  padding-top: 8px;
  border-top:1px dotted #dddddd;
  color: #666;
  line-height: 15px;
}

#videobox{
  margin: 0;
  padding: 0;
  min-height: 360px;
  box-shadow:  -1px 1px 1px #d9d9d9;
}

video { width: 100% ; }

aside:hover .content{
  color: #000;
}

aside img{
  display: block;
  margin-bottom: 8px;
}

.more {
  display: block;
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

aside .icons{
  position: absolute;
  top:6px;
  right:8px;
  display: block;
  padding: 0;
}

footer {
  clear:both;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #c6c6c6;
  background: #eaeaea;
  box-shadow:  -1px 1px 1px #d9d9d9;
  font-size: 12px;

}

footer a {
  color: #2788d3;
  text-decoration: none;
}

footer a:hover{
  color: #5c6a98;
}