/* ===== Primary Styles ========================================================
   Author: @k88hudson
   ========================================================================== */

body {
  background: #EEE;
  color: #F8FDE2;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
}

.wrapper {
  margin: 40px auto;
  width: 560px;
  box-shadow: 0 30px 30px -20px rgba(0,0,0,.4);
}

.wrapper .sidebar {
  width: 0;
  overflow: hidden;
}

/* VIDEO
-------------------------------------------------- */
.video-container {
  position: relative;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video > video,
.video > iframe,
.video > object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video > video {
  background: #000;
}

.butter-controls {
  background: #333;
  height: 35px;
  width: 100%;
  float: left;
}

/* Use this class for a full overlay */
.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

/* Sidebar Layout
-------------------------------------------------- */

.wrapper-sidebar .video-container,
.wrapper-sidebar .sidebar {
  float: left;
}
.wrapper-sidebar .video-container {
  width: 75%;
}
.wrapper-sidebar .sidebar {
  position: relative;
  width: 25%;
  padding-top: 35px;
  padding-bottom: 42.1875%;
  color: #222;
  height: 0;
}
.wrapper-sidebar .sidebar > .sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  overflow: scroll;
}

/* Popcorn TOC
-------------------------------------------------- */
.popcorn-toc {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popcorn-toc li {
  background: #222;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.popcorn-toc li a {
  color: #EEE;
  text-decoration: none;
}

.popcorn-toc li a .time-string {
  opacity: .5;
  font-size: .7em;
  font-family: menlo, monospace;
}

.popcorn-toc li a.active {
  color: red;
}


.popcorn-toc .definition {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  -ms-transition: max-height .3s ease;
  transition: max-height .3s ease;
}

.popcorn-toc li a.active~.definition {
  font-size: .9em;
  max-height: 100px;
  overflow: scroll;
  color: #EEE;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  -ms-transition: max-height .3s ease;
  transition: max-height .3s ease;
}



/* MEDIA QUERIES
-------------------------------------------------- */

 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 560px) {
  .wrapper { width: 320px; }
}

@media only screen and (max-width : 768px) {
  .wrapper { width: 560px; }
  .wrapper-sidebar .video-container,
  .wrapper-sidebar .sidebar {
    width: 100%;
  }
  .wrapper-sidebar .sidebar,
  .wrapper-sidebar .sidebar .sidebar-inner {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
  }
}

/* iPads (portrait) and small desktops ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .wrapper { width: 640px; }
  .wrapper-sidebar .video-container {
    width: 70%;
  }
  .wrapper-sidebar .sidebar {
    width: 30%;
    padding-bottom: 39.375%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .wrapper { width: 640px; }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
  .wrapper { width: 853px; }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .wrapper { width: 1280px; }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
