/* ===== Primary Styles ========================================================
   Author: @k88hudson
   ========================================================================== */

body {
  background: #333;
  color: #F8FDE2;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
}

.wrapper {
  margin: 40px auto;
  width: 560px;
  box-shadow: 0 50px 30px -20px rgba(0,0,0,.6);
}

.wrapper .sidebar {
  display: none;
}

/* VIDEO
-------------------------------------------------- */
.video-container {
  position: relative;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video > video,
.video > iframe,
.video > object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video > video {
  background: #000;
}

/* CONTROLS
-------------------------------------------------- */

#butter-controls {
  height: 50px;
  width: 100%;
  display: none;
  background: #242029;
}


/* Big Button */

#controls-big-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px;
  display: none;
  height: 80px;
  width: 80px;
  border: 2px solid #D0D0D0;
  border-radius: 50px;
  background: #242029;
  text-align: center;
}

#controls-big-play-button > span {
  display: inline-block;
  height: 50px;
  width: 40px;
  margin-left: 8px;
  margin-top: 3px;
  background: url(video-js.png) -97px 4px no-repeat;
}

#butter-controls.controls-active {
   /* active happens on mouse over and is reverted to default on mouse out */
  display: block;
}

#butter-controls.controls-ready/*, #controls-big-play-button.controls-ready*/ {
  /* ready happens when the template is exported, and not while in the editor */
  /* remove this if you want the big play button and active to show controls */
  display: block;
}

#controls-big-play-button.controls-ready {
  display: block;
}


/* Rows */

.controls-top,
.controls-bottom {
  
}

/* Top */

.controls-top {
  padding-top: 5px;
  border-bottom: 1px solid black;
  height: 18px;
}

#controls-currenttime,
#controls-duration {
  float: left;
  width: 10%;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
}

/* Bottom */
.controls-bottom {
  width: 100%;
  border-top: 1px solid rgba( 255, 255, 255, .1 );
}

#controls-timebar {
  float: left;
  background: rgba( 0, 0, 0, .2 );
  box-shadow: inset 0 1px 5px 2px rgba( 0, 0, 0, .5 );
  position: relative;
  height: 12px;
  width: 80%;
  border-radius: 6px;
}

#controls-progressbar {
  height: 100%;
  background: rgba( 0, 0, 0, .4 );
  position: absolute;
  border-radius: 6px 0 0 8px;
}

#controls-scrubber {
  position: relative;
  height: 100%;
  width: 2px;
  background: #EEE;
  position: absolute;
  cursor: pointer;
}

#controls-scrubber:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #EEE;
  top: -2px;
  left: -5px;
}

/* Buttons */

.controls-btn {
  display: inline-block;
  padding: 10px;
  background: url( video-js.png ) no-repeat;
  margin-left: 8px;
}

.controls-playing {
  background-position: -20px 3px;
}

.controls-paused {
  background-position: 5px 3px;

}

.controls-muted {
  background-position: 0 -21px;
}

.controls-unmuted {
  background-position: -25px -21px;
}

/* END CONTROLS */

/* Use this class for a full overlay */
.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

/* Sidebar Layout
-------------------------------------------------- */

.wrapper-sidebar .video-container,
.wrapper-sidebar .sidebar {
  float: left;
}
.wrapper-sidebar .video-container {
  width: 75%;
}
.wrapper-sidebar .sidebar {
  display: block;
  position: relative;
  width: 25%;
  padding-bottom: 42.1875%;
  color: #222;
  height: 0;
}
.wrapper-sidebar .sidebar > .sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: scroll;
}


/* MEDIA QUERIES
-------------------------------------------------- */

 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 560px) {
  .wrapper { width: 320px; }
}

@media only screen and (min-width: 560px) and (max-width : 768px) {
  .wrapper { width: 560px; }
}

@media only screen and (max-width : 768px) {
  .wrapper-sidebar .video-container,
  .wrapper-sidebar .sidebar {
    width: 100%;
  }
  .wrapper-sidebar .sidebar,
  .wrapper-sidebar .sidebar .sidebar-inner {
    position: relative;
    padding-bottom: 0;
    height: 100%;
  }
}

/* iPads (portrait) and small desktops ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .wrapper { width: 640px; }
  .wrapper-sidebar .video-container {
    width: 70%;
  }
  .wrapper-sidebar .sidebar {
    width: 30%;
    padding-bottom: 39.375%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .wrapper { width: 640px; }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
  .wrapper { width: 853px; }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .wrapper { width: 1280px; }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
