<div class="butter-editor-area butter-form">
  <div class="butter-editor-header">
    <ul>
      <li class="butter-editor-header-li"><a class="butter-btn butter-editor-header-media">
        <span class="icon icon-white icon-film"></span>
        Media
      </a></li>
      <li class="butter-editor-header-li"><a class="butter-btn butter-editor-header-popcorn">
        <span class="icon icon-white icon-plus"></span>
        Events
      </a></li>
      <li class="butter-editor-header-li"><a class="butter-btn butter-editor-header-share">
        <span class="icon icon-white icon-edit"></span>
        Project
      </a></li>
      <li class="butter-editor-close-btn"><a class="butter-btn">
        <span class="icon icon-only icon-white icon-chevron-right"></span>
      </a></li>
    </ul>
  </div>
  <div class="butter-editor-content"></div>
</div>
