<div class="media-editor butter-editor fadable alternates-hidden allow-scrollbar">
  <h1 class="add-new-media">Create new media clip</h1>
  <div class="butter-editor-body">
    <fieldset class="add-media-panel">
      <div class="media-editor-inner-wrapper primary-media-wrapper">
        <p>
          <span class="fl-right">
            <span class="media-icon youtube-icon"></span>
            <span class="media-icon vimeo-icon"></span>
            <span class="media-icon soundcloud-icon"></span>
            <span class="media-icon html5-icon"></span>
          </span>
          Paste a link from YouTube, SoundCloud, Vimeo or an HTML5 video
        </p>
        <textarea class="add-media-input" placeholder="Paste an HTML5, YouTube, Vimeo, or SoundCloud link here"></textarea>
        <span class="butter-btn-slide-out">
          <a class="add-media-btn butter-btn btn-green hidden">Create clip</a>
          <span class="media-loading-spinner butter-spinner hidden" ></span>
          <label class="media-error-message hidden"></label>
        </span>
      </div>
    </fieldset>

    <div class="media-gallery">
      <div class="media-gallery-heading">
        Media Gallery
      </div>
      <div class="media-gallery-scroll-container scrollbar-container">
        <ul class="media-gallery-list scrollbar-outer scrollbar-inner"></ul>
      </div>
    </div>

    <fieldset class="media-gallery-base-media butter-form-inline form-single bottom">
      <label>Duration</label>
      <input type="text" class="media-base-duration" value="">
    </fieldset>

  </div>
</div>

<!-- This is added to media-gallery for each new media item -->
<li class="media-gallery-item">
  <div class="mg-thumbnail"></div>
  <div class="mg-meta-data">
    <div class="mg-title"></div>
    <div class="mg-type media-icon"><span class="mg-type-text"></span></div>
    <div class="mg-duration"></div>
    <div class="mg-error"></div>
  </div>
  <span class="mg-delete-btn icon icon-trash"></span>
</li>
