<div class="media-editor butter-editor fadable alternates-hidden allow-scrollbar">
  <div class="media-gallery-heading">Media Gallery</div>
  <div class="butter-editor-body">
    <div class="add-media-panel">
      <ul class="tabs top">
        <li class="add-media-title">+ Add</li>
        <li data-tab-control="url" class="tab-on" data-tab-default>URL</li>
        <li data-tab-control="webcam">Webcam</li>
      </ul>
      <div class="tab-container">
        <div data-tab="url" class="padded">
          <label>
            <span class="fl-right">
              <span class="media-icon youtube-icon"></span>
              <span class="media-icon vimeo-icon"></span>
              <span class="media-icon soundcloud-icon"></span>
              <span class="media-icon html5-icon"></span>
            </span>
            Paste a link from YouTube, SoundCloud, Vimeo or an HTML5 video
          </label>
          <textarea class="add-media-input" placeholder="Paste an HTML5, YouTube, Vimeo, or SoundCloud link here"></textarea>
          <span class="butter-btn-slide-out">
            <a class="add-media-btn butter-btn btn-green hidden">Create clip</a>
            <span class="media-loading-spinner butter-spinner hidden" ></span>
            <label class="media-error-message hidden"></label>
          </span>
        </div>
        <div data-tab="webcam">Webcam</div>
      </div>
    </div><!-- add-media-panel -->
    <div class="media-gallery scrollbar-container">
      <div class="scrollbar-outer scrollbar-inner">
        <ul class="media-gallery-list"></ul>
      </div>
    </div>
  </div>
  <div class="row duration-panel">
    <label>Duration</label>
    <input type="text" class="media-base-duration" value="">
  </div>
</div>

<!-- This is added to media-gallery for each new media item -->
<li class="media-gallery-item">
  <div class="mg-thumbnail"></div>
  <div class="mg-meta-data">
    <div class="mg-title"></div>
    <div class="mg-type"></div>
    <div class="mg-duration"></div>
    <div class="mg-error"></div>
  </div>
  <span class="mg-delete-btn icon icon-trash"></span>
</li>
