<div class="media-status-container">
  <div class="time-bar">
    <div class="time-bar-canvas-container">
      <canvas></canvas>
    </div>
    <div class="time-bar-scrubber-container">
      <div class="fill-bar"></div>
      <div class="butter-tooltip butter-time-tooltip">00:00:00</div>
      <div class="time-bar-scrubber-node" data-tooltip>
        <div class="time-bar-scrubber-line" title="Displays the media's current time. Drag to seek through the media."></div>
      </div>
    </div>
  </div>
  <div class="status-container">
    <div class="play-button-container">
      <div class="butter-btn btn-green status-button" title="Play/Pause media">
        <span class="icon icon-white icon-only icon-play"></span>
      </div>
    </div>
    <div class="time-container">
      <input type="text">
    </div>
  </div>
  <div class="mute-button-container">
    <div class="status-button" title="Toggle volume on/off">
      <span class="icon icon-white icon-only icon-volume-down"></span>
    </div>
  </div>
</div>
