<div class="butter-editor ui-kit allow-scrollbar">
  <h1>Sample Editor</h1>
  <div class="error-message-container">
    <div class="error-message"></div>
  </div>
  <div class="butter-editor-body scrollbar-container">
    <div class="editor-options-wrapper scrollbar-outer">
      <div class="editor-options scrollbar-inner">
        <fieldset>
          <label>Buttons</label>
          <a class="butter-btn btn-light">Button</a>
          <a class="butter-btn btn-green" >Button</a>
          <a class="butter-btn btn-light"><span class="icon icon-cog"></span>Button + Icon</a>
          <p>
            <span class="btn-group butter-btn-radio">
              <a class="butter-btn btn-light"><span class="icon icon-only icon-align-left"></span></a>
              <a class="butter-btn btn-light"><span class="icon icon-only icon-align-center"></span></a>
              <a class="butter-btn btn-light"><span class="icon icon-only icon-align-right"></span></a>
            </span>

            <span class="btn-group">
              <a class="butter-btn btn-light">Button</a>
              <a class="butter-btn btn-light"><span class="icon icon-only icon-cog"></span></a>
            </span>
          </p>
          <a class="butter-btn btn-light butter-btn-checkbox">Checkbox</a>
          <a class="butter-btn btn-green butter-btn-checkbox" >Checkbox</a>
        </fieldset>

        <fieldset>
          <label>Text boxes</label>
          <input type="text" placeholder="default input">
          <div class="butter-form-append" data-tooltip="This is an example of a tooltip">
            <input type="text" placeholder="butter-form-append">
            <span class="butter-unit">unit</span>
          </div>
          <textarea></textarea>

        </fieldset>

        <fieldset>
          <label>Tooltips</label>
          <code>ui/widgets/tooltip.js</code>
          <p><a class="butter-btn btn-light" data-tooltip="hello world">Button
          </a></p>
          <pre>
// Manual usage
var tooltip1 = Tooltip.create({ 
  message: "hello world" 
});
myButton.appendChild( tooltip1 );

// Apply to all elements inside a rootElement  
&lt;a id="test2" class="butter-btn btn-light" 
  data-tooltip="coolio"&gt;Button&lt;/a&gt;
  
Tooltip.apply( rootElement );
          </pre>
        </fieldset>

        <fieldset>
          <label>This is an option set</label>
          <label class="butter-form-radio">
            <input type="radio" name="test" value="test">Loremt nulla pariaturanim id est laborum.
          </label>
          <label class="butter-form-radio">
            <input type="radio" name="test" value="test">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodlit anim id est laborum.
          </label>
          <label class="butter-form-radio">
            <input type="radio" name="test" value="test">Loremt nulla pariaturanim id est laborum.
          </label>
          <label class="butter-form-checkbox">
            <input type="checkbox" name="test2" value="test">Loremt nulla pariaturanim id est laborum.
          </label>
        </fieldset>
        <fieldset class="butter-form-inline form-half">
          <label class="butter-form-radio">
            <input type="radio" name="test" value="test">Das asds
          </label>
          <label class="butter-form-radio">
            <input type="radio" name="test" value="test">Loremt nulla 
          </label>
        </fieldset>
        <fieldset class="butter-form-inline form-single">
          <label>Dulla</label>
          <input type="text" name="test" value="test">
        </fieldset>
        <fieldset class="butter-form-inline form-single">
          <label>Dulla asdas </label>
          <select>
            <option>Blah</option>
          </select>
        </fieldset>
        <fieldset class="butter-form-inline form-half">
          <div class="butter-form-append">
            <label>Start</label>
            <input type="text" placeholder="2">
            <span class="butter-unit">seconds</span>
          </div>
          <div class="butter-form-append">
            <label>End</label>
            <input type="text" placeholder="10">
            <span class="butter-unit">s</span>
          </div>
        </fieldset>
        <fieldset class="butter-form-inline form-half">
          <label>Text boxes</label>
          <input type="text" placeholder="default input">
          <input type="text" placeholder="default input">
        </fieldset>

      </div>
    </div>
  </div>
</div>
