body {background-color: #fff; font-family:sans-serif;margin:0px;padding-bottom:20px;}
.butter-video {border: 1px solid #c2c2c2;background:#fff;}
#videoTitle {}
#videoDescription {}
.butter-plugin {border: 1px solid #c2c2c2;}
#iframe-container {background: url('img/webpage.png') no-repeat 10px 10px; }
#iframe-container iframe {border: none;}
#map-container {background: url('img/googlemap.png') no-repeat 10px 10px;}
#footnote-container {background: url('img/footnote.png') no-repeat 10px 10px;}
#flickr-container {background: url('img/flickr.png') no-repeat 10px 10px;}
#image-container {background: url('img/image.png') no-repeat 10px 10px;}
#twitter-container {background: url('img/twitter.png') no-repeat 10px 10px;}
#wiki-container {background: url('img/wikipedia.png') no-repeat 10px 10px;}