<div class="butter-badge">
  <div class="butter-badge-title"></div>
  <div class="butter-badge-image"></div>
  <div class="butter-badge-desc"></div>
</div>

<a class="butter-badge-backpack-link butter-btn btn-light" href="#">Send to backpack</a>

<span class="butter-badge-count">
  <span class="butter-badge-img"></span>
  <span class="butter-badge-number"></span>
</span>

<div class="butter-badge-backpack">
  <h2>Badge Backpack</h2>
  <div class="butter-badge-container"></div>
</div>

<div class="butter-badge-buttons">
  <span class="btn-group">
    <a class="butter-btn btn-light" href="http://www.openbadges.org/en-US/faq.html" target="_blank"><span class="icon icon-only icon-info-sign"></span></a>
    <a class="butter-btn btn-light butter-add-badge"><span class="icon icon-arrow-right"></span><span class="badge-message">Send to backpack</span></a>
  </span>
</div>

