<div id="butter-controls">
  <div class="controls-left">
    <span id="controls-play" class="controls-btn controls-paused"></span>
  </div>
  <div class="controls-middle">
    <span id="controls-currenttime">00:00:00</span>
    <div id="controls-timebar">
      <div id="controls-progressbar"></div>
      <div id="controls-scrubber"></div>
    </div>
    <span id="controls-duration">00:00:00</span>
  </div>
  <div class="controls-right">
    <span id="controls-mute" class="controls-btn controls-unmuted"></span>
    <div id="controls-volume">
      <div id="controls-volume-progressbar"></div>
      <div id="controls-volume-scrubber"></div>
    </div>
  </div>
</div>
