<div id="butter-controls">
  <div class="controls-left">
    <span id="controls-play" class="controls-btn controls-paused"></span>
  </div>
  <div class="time">
    <span id="controls-currenttime">0:00</span>
    <span class="divider">/</span>
    <span id="controls-duration">0:00</span>
  </div>
  <div class="controls-middle">
    <div id="controls-timebar">
      <div id="controls-progressbar"></div>
    </div>
  </div>
  <div id="controls-volume-container">
    <span id="controls-mute" class="controls-btn controls-unmuted"></span>
    <div id="controls-volume">
      <div id="controls-volume-progressbar"></div>
    </div>
  </div>
  <div class="controls-right">
    <div id="controls-share" title="Share"></div>
    <div id="controls-remix" title="Remix"></div>
    <div id="controls-fullscreen" title="Fullscreen"></div>
  </div>
  <a id="controls-logo" href="/" target="_blank" title="Popcorn Maker"></a>
</div>
