<div class="butter-editor-area">
  <div class="butter-editor-header">
    <ul>
      <li><a class="butter-btn-dark butter-editor-header-media"><i class="icon icon-white icon-film"></i>Media</a></li>
      <li><a class="butter-btn-dark butter-editor-header-popcorn"><i class="icon icon-white icon-comment"></i>Popcorn</a></li>
      <li><a class="butter-btn-dark butter-editor-header-share"><i class="icon icon-white icon-share"></i>Share</a></li>
      <li><a class="butter-btn-dark butter-editor-header-settings"><i class="icon icon-only icon-white icon-cog"></i></a></li> 
      <li class="butter-editor-close-btn"><a class="butter-btn-dark"><i class="icon icon-only icon-white icon-chevron-right"></i></a></li>
    </ul>
  </div>
  <div class="butter-editor-content"></div>
</div>