<div class="butter-header" data-butter-exclude>
  <nav id="webmaker-nav"></nav>
  <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-project-title">
       <a class="butter-project-name">My Cool Remix</a><i class="icon icon-pencil"></i>
      </li>
      <li>
        <a class="butter-btn btn-green butter-save-btn">Save</a>
        <a class="butter-btn btn-light butter-preview-btn" target="_blank"><span class="icon icon-only icon-share-alt"></span> Preview</a>
      </li>
    </ul>
  </header>
</div>
