<div id="butter-header" data-butter-exclude>
  <div class="butter-header-inner">
    <div class="butter-logo"></div>
    <span class="butter-name"></span>
    <div class="butter-editor-actions">
      <a class="butter-btn" href="/dashboard" id="butter-header-load" title="Manage your projects"><span class="icon-grear-sign"></span> Projects</a>
      <a class="butter-btn" href="#" id="butter-header-save" title="Save your project"><span class="icon-ok-sign"></span> Save</a>
      <a class="butter-btn" href="#" id="butter-header-source" title="View the source of this template"><span class="icon-eye-open"></span> View Source</a>
      <a class="butter-btn" href="#" id="butter-header-share" title="Generate a link to share this project with the world"><span class="icon-share-alt"></span> Publish</a>
      <a class="butter-btn" href="#" id="butter-header-auth" title="Sign in or sign up with Persona"><span class='icon-user'></span>Sign In / Sign Up</a>
    </div>
  </div>
</div>
