<div class="butter-header" data-butter-exclude>
  <nav id="webmaker-nav"></nav>
  <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-project-title" style="display: none">
       <a class="butter-project-name">My Cool Remix</a><i class="icon icon-pencil"></i>
      </li>
      <li>
        <a class="butter-btn btn-green butter-save-btn butter-disabled">Sign in to save</a>
        <div class="butter-btn-menu-container butter-project-menu">
          <a class="butter-btn btn-light butter-project-menu-control butter-btn-menu-control"><span class="icon icon-only icon-cog"></span></a>
          <ul class="butter-btn-menu">
            <li><a class="butter-btn" href="/templates/basic/" target="_blank"> New</a></li>
            <li><a class="butter-btn" href="/dashboard" target="_blank"> Open...</a></li>
            <li><a class="butter-btn butter-clear-events-btn" target="_blank"> Clear Events</a></li>
            <li><a class="butter-preview-btn butter-btn btn-light butter-disabled" 
                   target="_blank"><span class="icon icon-only icon-share-alt"></span> Preview</a></li>
            <li><a class="butter-share-btn butter-btn btn-light butter-disabled" target="_blank"><span class="icon icon-only icon-share"></span> Share</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </header>
</div>
