<div class="media-editor butter-editor fadable alternates-hidden allow-scrollbar">
  <h1>Change Media Source</h1>
  <div class="butter-editor-body scrollbar-container">
    <div class="scrollbar-outer">
      <div class="scrollbar-inner">
        <fieldset>
          <span class="current-media-wrapper"></span>
          <a class="add-alternate-media-source-btn butter-btn btn-light">Add Alternate</a>
          <label class="media-error-message hidden">Error: one or more media sources failed to load!</label>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div class="media-editor-inner-wrapper primary-media-wrapper">
  <textarea class="current-media-input" placeholder="http://"></textarea>
  <span class="butter-btn-slide-out">
    <a class="butter-media-save butter-btn btn-green butter-disabled">Save</a>
  </span>
  <label class="alternate-media-label">Fallbacks<span class="icon icon-x"></span></label>
</div>

<div class="media-editor-inner-wrapper alt-media-wrapper">
  <div class="alt-media-wrapper-inner">
    <textarea class="current-media-input" placeholder="http://"></textarea>
    <a class="delete-media-btn"><span class="icon icon-trash" ></span></a>
  </div>
  <span class="butter-btn-slide-out">
    <a class="butter-media-save butter-btn btn-green butter-disabled">Save</a>
  </span>
</div>
