<div class="butter-media-properties" data-butter-exclude="true">
  <p class="edit-message">Edit source...</p>
  <div class="container">
    <div class="inner-container">
      <h3>Video/Audio URL</h3>
      <div class="url-group">
        <div class="url fade-in"><input type="text" /><button class="remove">-</button></div>
      </div>
      <p class="form-field-notes"></p>
      <button class="save">Save</button><button class="add-url">Add Alternate URL</button>
      <div class="loading-container"></div>
    </div>
  </div>
</div>