<div class="butter-media-properties" data-butter-exclude="true">
  <p class="butter-edit-message">Edit source...</p>
  <div class="butter-container">
    <div class="butter-inner-container">
      <div class="butter-inner-container-title">Video/Audio URL</div>
      <div class="butter-url-group">
        <div class="butter-url fade-in"><input type="text" /><button class="butter-btn butter-btn-remove"><span class="icon-minus"></span></button></div>
      </div>
      <p class="butter-form-field-notes"></p>
      <button class="butter-btn butter-btn-save">Save</button><button class="butter-btn butter-btn-add-url">Add Alternate URL</button>
      <div class="butter-loading-container"></div>
    </div>
  </div>
</div>