<div class="butter-editor share-editor allow-scrollbar">
  <h1>Share your project</h1>
  <div class="error-message-container">
    <div class="error-message"></div>
  </div>
  <div class="butter-editor-body scrollbar-container">
    <div class="scrollbar-outer">
      <div class="container editor-container fade-container scrollbar-inner">
        <h3 class="butter-no-top-margin">Link</h3>
        <input class="butter-project-url" type="text" readonly="readonly">
        <a class="butter-btn btn-light butter-preview-link" target="_blank"><span class="icon icon-share-alt"></span>Preview</a>
        <a class="butter-btn btn-light butter-view-source-link" target="_blank"><span class="icon icon-eye-open"></span>View project source</a><br/>
        <span class="butter-share-twitter"></span>
        <span class="butter-share-google"></span>
        <h3>Author</h3>
        <input class="big butter-project-author" type="text" placeholder="Anonymous" disabled>
        <h3>Embed</h3>
        <p>Copy and paste the embed code below into any webpage.</p>
        <textarea class="butter-project-embed-url" readonly="readonly"></textarea>
        <label>Size</label>
        <select class="butter-embed-size" disabled>
          <option value="560x358">560x358</option>
          <option value="640x403">640x403</option>
          <option value="853x523">853x523</option>
          <option value="1280x763">1280x763</option>
        </select>
      </div>
    </div>
  </div>
</div>