<div class="media-status-container">
  <div class="time-bar">
    <div class="time-bar-scrubber-container">
      <div class="fill-bar"></div>
      <div class="time-bar-scrubber-node" title="Displays the media's current time. Drag to seek through the media.">
        <div class="time-bar-scrubber-line" title="Displays the media's current time. Drag to seek through the media."></div>
      </div>
    </div>
    <div class="time-bar-canvas-container">
      <canvas></canvas>
    </div>
  </div>
  <div class="status-container">
    <div class="time-container">
      <input type="text">
    </div>
    <div class="play-button-container">
      <div class="status-button" title="Play/Pause media">
        <div class="status-button-icon"></div>
      </div>
    </div>
  </div>
  <div class="mute-button-container">
    <div class="status-button" title="Toggle volume on/off">
      <div class="status-button-icon"></div>
    </div>
  </div>
</div>