<div id="butter-super-scrollbar-container">
  <div class="butter-super-scrollbar-zoom-buttons">
    <div class="butter-super-scrollbar-zoom-in"></div>
    <div class="butter-super-scrollbar-zoom-out"></div>
  </div>
  <div id="butter-super-scrollbar-visuals"></div>
  <span id="butter-super-scrollbar-viewport" class="viewport-transition">  
    <span id="butter-super-scrollbar-handle-left" class="butter-super-scrollbar-handle"></span>
    <span id="butter-super-scrollbar-handle-right" class="butter-super-scrollbar-handle"></span>
  </span>
  <span id="buter-super-scrollbar-scrubber"></span>
</div>
