<div id="butter-super-scrollbar-outer-container">
  <div class="butter-super-scrollbar-zoom-slider-container">
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <div class="butter-super-scrollbar-zoom-slider">
      <div class="butter-super-scrollbar-zoom-handle"></div>
    </div>
  </div>
  <div id="butter-super-scrollbar-inner-container">
    <div id="butter-super-scrollbar-visuals"></div>
    <span id="butter-super-scrollbar-viewport" class="viewport-transition"> 
      <span id="butter-super-scrollbar-handle-left" class="butter-super-scrollbar-handle">
        <span class="butter-super-arrow"></span>
      </span>
      <span id="butter-super-scrollbar-handle-right" class="butter-super-scrollbar-handle">
        <span class="butter-super-arrow"></span>
      </span>
    </span>
    <span id="buter-super-scrollbar-scrubber"></span>
  </div>
</div>
