<!--  This Source Code Form is subject to the terms of the MIT license
      If a copy of the MIT license was not distributed with this file, you can
      obtain one at http://www.mozillapopcorn.org/butter-license.txt -->

<fieldset class="trackevent-property default input">
  <label class="property-name"></label>
  <input class="value" type="text" />
</fieldset>

<fieldset class="trackevent-property default input units">
  <label class="property-name"></label>
  <div class="butter-form-append">
    <input class="value" type="text" />
    <span class="butter-unit"></span>
  </div>
</fieldset>

<fieldset class="trackevent-property default input checkbox">
  <label class="butter-form-checkbox">
    <input class="value" type="text" />
    <span class="property-name"></span>
  </label>
</fieldset>

<fieldset class="trackevent-property select">
  <label class="property-name"></label>
  <select>
  </select>
</fieldset>

<fieldset class="trackevent-property targets">
  <label class="property-name">Target</label>
  <select data-manifest-key="target">
    <option class="default-target-option" value="Media Element">Media Element</option>
  </select>
</fieldset>

<!-- For createBreadcrumbs -->
<div class="butter-breadcrumbs">
  <a class="butter-breadcrumbs-back">Events</a>
  <span class="butter-editor-title">Event</span>
  <a class="close-btn"><span class="icon icon-only icon-x"></span></a>
</div>
