<!--  This Source Code Form is subject to the terms of the MIT license
      If a copy of the MIT license was not distributed with this file, you can
      obtain one at http://www.mozillapopcorn.org/butter-license.txt -->

<div class="trackevent-property default input">
  <div class="property-name"></div>
  <input class="value" type="text" />
</div>

<div class="trackevent-property select">
  <div class="property-name"></div>
  <select>
  </select>
</div>

<div class="trackevent-property targets">
  <div class="property-name">Target</div>
  <select data-manifest-key="target">
    <option class="default-target-option" value="Media Element">Media Element</option>
  </select>
</div>