  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    background-color: #ffffff;
  }
  video {
    height: 100%;
    width: 100%;
    margin: 0px auto;
  }
  a {
    color: #0088cc;
    text-decoration: none;
  }
  a:hover {
    color: #005580;
    text-decoration: underline;
  }
  .video-container {
    text-align:center;
  }
  .container-fluid {
    margin-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .row-fluid {
    width: 100%;
  }
  .row-fluid .span {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.127659574%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid .span:first-child {
    margin-left: 0;
  }
  .row-fluid .span {
    width: 50%;
  }
  .video-background {
    background-color: black; 
    padding: 5px;
    width: 640px;
    height: 390px;
    float: left;
  }
  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    height: 400px; 
    overflow: hidden;
  }
