		body {
			background-color: rgba(128, 128, 128, 0.5);
			font-family: arial;
			color: black;
			margin: 0;
		}

		#menu {
			position: absolute;
			width: 200px;
			left: 0;
			top: 0;
			bottom: 0;

		}

		.menu-item {
			border: 1px solid #555;
			font-weight: normal;
			text-align: left;
			padding: 0.25em 1% 0.25em 2em;
			background-color: rgba(80, 80, 80, 0.5);
			background-repeat: no-repeat;
			-moz-background-size: 12px 12px;
			background-size: 12px 12px;
			background-position: 90%;
			cursor: pointer;
			padding-left: 5px;
			border-radius: 7px;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiPjxwb2x5Z29uIHBvaW50cz0iMCwwIDUwLDg2LjYgMTAwLDAiIGZpbGw9IiMzMzMiLz48L3N2Zz4%3D');
			/*
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100" height="100"><polygon points="0,0 50,86.6 100,0" fill="#333"/></svg>
			*/
		}

		.menu-item.open {
			font-weight: bold;
			background-position: 95%;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiPjxwb2x5Z29uIHBvaW50cz0iMCwwIDg2LjYsNTAgMCwxMDAiIGZpbGw9IiMzMzMiLz48L3N2Zz4%3D');
			/*
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100" height="100"><polygon points="0,0 86.6,50 0,100" fill="#333"/></svg>
			*/
		}

		#content {
			position: absolute;
			margin-left: 210px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.content-item {
			border-radius: 7px;
			background-color: rgba(80, 80, 80, 0.5);
			border: 1px solid #555;
			padding: .5em .5em;			
			display: none;
		}

		.content-item.open{
			display: block;
		}

		table .form-header > tr > th {
			font-weight: bold;
			background-color: rgba(80, 80, 80, 0.5);
			padding: 0.25em 0.25em 0.25em 1em;
		}
		
		table.form {
			background-color: #C0C0C0;
			border-collapse: collapse;
			width: 100%;
			font-size: 12px;
		}
				
		table.form th {
			border: 1px solid #555;
			font-weight: normal;
			text-align: left;
			padding: 0.25em 0.25em 0.25em 2em;
			width: 15em;
		}

		table.form td {
			border: 1px solid #555;
			padding: 0.25em 1%;
		}
		
		#control-buttons {
			position: fixed;
			bottom: 0;
			background-color: rgb(191, 191, 191);
			width: 100%;
		}
		
		#instructions {
			background-color: rgba(255, 255, 255, 0.5);
			padding: 2px;
			font-size: 0.9em;
			color: black;
		}
		
		table.form td > input[type=text]:first-child,
		table.form td > textarea:first-child {
			width: 98%;
		}
		
		table.form td > textarea {
			height: 4em;
		}

		input[type=text], textarea {
			border: 1px solid #444;
			padding: 3px;
		}
		input[type=text]:focus, textarea:focus {
			outline: none;
			border: 1px solid #5890D7;
		}
		
		input[type=range] {
			width: 80%;
		}
		
		input[type=text].small {
			width: 40px;
		}
		.note {
			color: #555;
			font-style: italic;
		}
		.invalid {
			background-color: #f33;
		}
		
