body{text-align:center;}
.butter-player{width:400px; padding:10px; margin:10px;text-align:left;margin:0 auto;}
.butter-video {padding:10px;}
#video { width: 100%;}
.butter-plugin {height:120px; padding: 50px 10px 10px 10px; margin: 10px 0px;}
