doctype 5
html
  head
    title Dashboard
  body
    h1 My Dashboard -
      = user.email
    table
      tr
        th Name
        th Template
      each project in projects
        tr
          td
            a(href= project._id)
              = project.name
          td= project.template
