doctype 5
html
  head
    title Dashboard
    style
      body {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        background: #3D3F44;
        color: #EEE;
        width: 650px;
        margin: 0 auto;
        font-size: 1.5em;
        text-align: center;
      }
      img {
        width: 650px;
      }
  body
    h1 Sorry...
    img(src="/struggling-dino.gif")
    p Please login before attempting to view your dashboard.

