.container { width: 960px; margin: 40px auto;}

#video-container {
  position: relative;
  width: 640px;
  min-height: 480px;
  float: left;
}

#video { width: 100%; }

#video-overlay {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#sidebar { width: 320px; float: left; position: relative; }